* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input{
  border: none;
  outline: none;
}

body {
  line-height: 1.44;
  color: #996666;
  font-family: "PFAgoraSansPro", sans-serif;

  background-color: #ebebeb;
  box-sizing: border-box;
}

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-bold.ttf");
}

@font-face {
  font-family: FontAwesome;
  src: url("/fonts/pfagorasanspro-reg.ttf");
}

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-bolditalic.ttf");
}

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-italic.ttf");
}

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-reg.ttf");
}