<section class="header">
    <header class="header">
        <div class="header__container">
            <a href="#">
                <div class="header__logo">Logo</div>
            </a>

            <div class="header__links">
                <a href="#">
                    <div class="header__link header__link-active">Главная</div>
                </a>
                <a href="#">
                    <div class="header__link">О нас</div>
                </a>
                <a href="#">
                    <div class="header__link">Услуги</div>
                </a>
                <a href="#">
                    <div class="header__link">Цены</div>
                </a>
                <a href="#">
                    <div class="header__link">Наши работы</div>
                </a>
                <a href="#">
                    <div class="header__link">Контакты</div>
                </a>
            </div>
            <div class="header__phone"><img class="phone__img" src="img/header-phone.svg" alt="">7 (906) 236 77 05</div>
            <a class="header__menu" href="javascript:void(0);" tabindex="1" >
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>

            </a>
            <ul class="sub-menu">
                <li><a href="#1" class="sub-menu__item sub-menu__item-active">

                    Главная</a></li>
                <li><a href="#2" class="sub-menu__item">О нас</a></li>
                <li><a href="#3" class="sub-menu__item">Услуги</a></li>
                <li><a href="#4" class="sub-menu__item">Цены</a></li>
                <li><a href="#5" class="sub-menu__item">Наши работы</a></li>
                <li><a href="#6" class="sub-menu__item">Контакты</a></li>
            </ul>

        </div>
    </header>
</section>