doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='main.css')
        link(rel='stylesheet', href='/sass/main.scss')
    body
        | hey whats'up  dfmm
        | hey whats'up  dfmm d
