<svg aria-hidden="true" style="position: absolute; display:none!important;  width: 0; height: 0; overflow: hidden;"
     version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <symbol id="sp" viewBox="0 0 32 32">
            <title>sp</title>
            <path fill="#ffda44" style="fill: var(--color1, #ffda44)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color2, #d80027)" d="M0 5.333h32v7.111h-32v-7.111z"></path>
            <path fill="#d80027" style="fill: var(--color2, #d80027)" d="M0 19.555h32v7.111h-32v-7.111z"></path>
        </symbol>

        <symbol id="ch" viewBox="0 0 32 32">
            <title>ch</title>
            <path fill="#d80027" style="fill: var(--color1, #d80027)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M11.183 11.848l0.916 2.819h2.964l-2.398 1.742 0.916 2.819-2.398-1.742-2.398 1.742 0.916-2.819-2.398-1.742h2.964z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M16.956 21.225l-0.899-0.653-0.899 0.653 0.343-1.057-0.899-0.653h1.112l0.344-1.057 0.344 1.057h1.112l-0.899 0.653z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M19.302 17.995h-1.112l-0.343 1.057-0.343-1.057-1.112-0 0.899-0.653-0.344-1.057 0.899 0.653 0.899-0.653-0.343 1.057z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M19.302 14.004l-0.899 0.653 0.343 1.057-0.899-0.653-0.899 0.653 0.344-1.057-0.899-0.653 1.112-0 0.343-1.057 0.343 1.057z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M16.956 10.775l-0.343 1.057 0.899 0.653-1.112 0-0.344 1.057-0.344-1.057-1.112 0 0.899-0.653-0.344-1.057 0.899 0.653z"></path>
        </symbol>
        <symbol id="fr" viewBox="0 0 32 32">
            <title>fr</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M0 5.333h10.666v21.334h-10.666v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M21.334 5.333h10.666v21.334h-10.666v-21.334z"></path>
        </symbol>
        <symbol id="gr" viewBox="0 0 32 32">
            <title>gr</title>
            <path fill="#d80027" style="fill: var(--color1, #d80027)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#000" style="fill: var(--color5, #000)" d="M0 5.333h32v7.111h-32v-7.111z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)" d="M0 19.555h32v7.111h-32v-7.111z"></path>
        </symbol>
        <symbol id="in" viewBox="0 0 32 32">
            <title>in</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.334h32v21.333h-32v-21.333z"></path>
            <path fill="#ff9811" style="fill: var(--color6, #ff9811)" d="M0 5.334h32v7.111h-32v-7.111z"></path>
            <path fill="#6da544" style="fill: var(--color7, #6da544)" d="M0 19.555h32v7.111h-32v-7.111z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M18.744 16c0 1.515-1.228 2.744-2.744 2.744s-2.744-1.228-2.744-2.744c0-1.515 1.228-2.744 2.744-2.744s2.744 1.228 2.744 2.744z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M17.715 16c0 0.947-0.768 1.715-1.715 1.715s-1.715-0.768-1.715-1.715c0-0.947 0.768-1.715 1.715-1.715s1.715 0.768 1.715 1.715z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M16 13.884l0.529 1.2 1.303-0.142-0.774 1.058 0.774 1.058-1.303-0.142-0.529 1.2-0.529-1.2-1.303 0.142 0.774-1.058-0.774-1.058 1.303 0.142z"></path>
        </symbol>
        <symbol id="it" viewBox="0 0 32 32">
            <title>it</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M21.333 5.333h-21.333v21.333h32v-21.333z"></path>
            <path fill="#6da544" style="fill: var(--color7, #6da544)"
                  d="M0 5.333h10.666v21.334h-10.666v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M21.334 5.333h10.666v21.334h-10.666v-21.334z"></path>
        </symbol>
        <symbol id="jp" viewBox="0 0 32 32">
            <title>jp</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M22 16c0 3.314-2.686 6-6 6s-6-2.686-6-6c0-3.314 2.686-6 6-6s6 2.686 6 6z"></path>
        </symbol>
        <symbol id="pl" viewBox="0 0 32 32">
            <title>pl</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.334h32v21.333h-32v-21.333z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.334h32v10.666h-32v-10.666z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)" d="M0 16h32v10.666h-32v-10.666z"></path>
        </symbol>
        <symbol id="pr" viewBox="0 0 32 32">
            <title>pr</title>
            <path fill="#d80027" style="fill: var(--color1, #d80027)" d="M0 5.334h32v21.333h-32v-21.333z"></path>
            <path fill="#6da544" style="fill: var(--color7, #6da544)" d="M12.29 5.334v21.333h-12.29v-21.333z"></path>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)"
                  d="M16.29 16c0 2.209-1.791 4-4 4s-4-1.791-4-4c0-2.209 1.791-4 4-4s4 1.791 4 4z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M10.040 14v2.5c0 1.243 1.007 2.25 2.25 2.25s2.25-1.007 2.25-2.25v-2.5h-4.5z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M12.29 17.25c-0.414 0-0.75-0.336-0.75-0.75v-1h1.5v1c-0 0.413-0.337 0.75-0.75 0.75z"></path>
        </symbol>
        <symbol id="ru" viewBox="0 0 32 32">
            <title>ru</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.333v21.333h32v-21.333z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.333h32v7.111h-32v-7.111z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)" d="M0 19.555h32v7.111h-32v-7.111z"></path>
        </symbol>
        <symbol id="sa" viewBox="0 0 32 32">
            <title>sa</title>
            <path fill="#6da544" style="fill: var(--color7, #6da544)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M11.472 18.087c0 0.768 0.608 1.391 1.358 1.391h4.075c0 0.64 0.507 1.159 1.132 1.159h1.358c0.625 0 1.132-0.519 1.132-1.159v-1.391h-9.057z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M20.642 11.362v3.246c0 0.511-0.406 0.928-0.906 0.928v1.391c1.248 0 2.264-1.040 2.264-2.319v-3.246h-1.358z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M10.906 14.608c0 0.511-0.406 0.928-0.906 0.928v1.391c1.248 0 2.264-1.040 2.264-2.319v-3.246h-1.358v3.246z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M18.604 11.362h1.358v3.246h-1.358v-3.246z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M16.566 13.217c0 0.128-0.102 0.232-0.226 0.232s-0.226-0.104-0.226-0.232v-1.855h-1.358v1.855c0 0.128-0.102 0.232-0.226 0.232s-0.226-0.104-0.226-0.232v-1.855h-1.358v1.855c0 0.895 0.711 1.623 1.585 1.623 0.337 0 0.649-0.108 0.906-0.292 0.257 0.184 0.569 0.292 0.906 0.292 0.068 0 0.134-0.005 0.2-0.013-0.096 0.406-0.453 0.709-0.879 0.709v1.391c1.249 0 2.264-1.040 2.264-2.319v-3.246h-1.358l0 1.855z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M12.943 15.536h2.038v1.391h-2.038v-1.391z"></path>
        </symbol>
        <symbol id="sk" viewBox="0 0 32 32">
            <title>sk</title>
            <path fill="#fff" style="fill: var(--color8, #fff)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M19.896 16c0 0.974-1.744 3.409-3.896 3.409s-3.896-2.435-3.896-3.409c0-2.152 1.744-3.896 3.896-3.896s3.896 1.744 3.896 3.896z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M19.896 16c0 2.152-1.744 3.896-3.896 3.896s-3.896-1.744-3.896-3.896z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M20.132 19.444l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M18.41 21.164l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M22.198 21.508l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M20.476 23.231l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M21.165 20.476l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M19.443 22.197l1.033-1.033 0.689 0.689-1.033 1.033-0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M22.199 12.556l-2.755-2.755 0.689-0.689 2.755 2.755-0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M19.444 11.868l-1.033-1.033 0.689-0.689 1.033 1.033-0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M21.165 13.589l-1.033-1.033 0.689-0.689 1.033 1.033-0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M21.508 9.802l-1.033-1.033 0.689-0.689 1.033 1.033-0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M23.231 11.523l-1.033-1.033 0.689-0.689 1.033 1.033-0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M8.769 20.476l2.755 2.755-0.689 0.689-2.755-2.755 0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M11.523 21.165l1.033 1.033-0.689 0.689-1.033-1.033 0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M9.802 19.443l1.033 1.033-0.689 0.689-1.033-1.033 0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M10.835 18.41l2.755 2.755-0.689 0.689-2.755-2.755 0.689-0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M11.524 8.768l-2.755 2.755-0.689-0.689 2.755-2.755 0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M12.556 9.801l-2.755 2.755-0.689-0.689 2.755-2.755 0.689 0.689z"></path>
            <path fill="#000" style="fill: var(--color5, #000)"
                  d="M13.589 10.834l-2.755 2.755-0.689-0.689 2.755-2.755 0.689 0.689z"></path>
        </symbol>
        <symbol id="ua" viewBox="0 0 32 32">
            <title>ua</title>
            <path fill="#ffda44" style="fill: var(--color2, #ffda44)" d="M0 5.334h32v21.333h-32v-21.333z"></path>
            <path fill="#338af3" style="fill: var(--color9, #338af3)" d="M0 5.334h32v10.666h-32v-10.666z"></path>
        </symbol>
        <symbol id="uk" viewBox="0 0 32 32">
            <title>uk</title>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)" d="M0 5.333h32v21.334h-32v-21.334z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M18 5.333h-4v8.667h-14v4h14v8.667h4v-8.667h14v-4h-14z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M24.612 19.71l7.388 4.105v-4.105z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M19.478 19.71l12.522 6.957v-1.967l-8.981-4.989z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M28.665 26.666l-9.186-5.104v5.104z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M19.478 19.71l12.522 6.957v-1.967l-8.981-4.989z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M19.478 19.71l12.522 6.957v-1.967l-8.981-4.989z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M5.646 19.71l-5.646 3.137v-3.137z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M12.522 20.594v6.072h-10.929z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M8.981 19.71l-8.981 4.989v1.967l12.522-6.957z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M7.388 12.29l-7.388-4.105v4.105z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)"
                  d="M12.522 12.29l-12.522-6.957v1.967l8.981 4.989z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M3.335 5.333l9.186 5.104v-5.104z"></path>
            <path fill="#f0f0f0" style="fill: var(--color3, #f0f0f0)"
                  d="M12.522 12.29l-12.522-6.957v1.967l8.981 4.989z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M12.522 12.29l-12.522-6.957v1.967l8.981 4.989z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M26.354 12.29l5.646-3.137v3.137z"></path>
            <path fill="#0052b4" style="fill: var(--color4, #0052b4)" d="M19.478 11.405v-6.072h10.929z"></path>
            <path fill="#d80027" style="fill: var(--color1, #d80027)"
                  d="M23.019 12.29l8.981-4.989v-1.967l-12.522 6.957z"></path>
        </symbol>
    </defs>

</svg>
