@charset "UTF-8";
/*
 *! Welcome to this project.
 * This file contains your main styles and all the imports of external styles
 * Developer(html/css coder): Dalyss & Pashchuk Ilya (illyadeveloper@gmail.com; skype: x-developmaster-x; telegram: @justtwic)
 * ©JustTwic, 2019
 */
* {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

ul {
  margin-left: 0;
  padding-left: 0; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none;
  outline: none; }

body {
  line-height: 1.44;
  color: #996666;
  font-family: "PFAgoraSansPro", sans-serif;
  background-color: #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-bold.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("/fonts/pfagorasanspro-reg.ttf"); }

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-bolditalic.ttf"); }

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-italic.ttf"); }

@font-face {
  font-family: PFAgoraSansPro;
  src: url("/fonts/pfagorasanspro-reg.ttf"); }

.button-submit {
  border: none;
  background: #c15648 url("/img/button.png");
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  max-width: 340px;
  height: 64px;
  margin: 47px auto 55px;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 100;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .button-submit-bottom {
    width: 60%;
    margin-top: 41px;
    margin-bottom: 56px; }

.button-submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1) rotate(2deg);
      -ms-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: rgba(18, 18, 18, 0.8) 0px 0px 30px;
          box-shadow: rgba(18, 18, 18, 0.8) 0px 0px 30px; }

.header {
  background: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 0.941;
  min-height: 78px; }
  .header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 1152px;
    margin: auto; }
  .header__logo {
    font-size: 36px;
    color: #c15648;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    padding-top: 26px;
    padding-left: 32%; }
  .header__phone {
    font-size: 24px;
    color: #896e6f;
    font-weight: 700;
    padding-top: 14px;
    padding-right: 2%; }
  .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 38px;
    padding-left: 3.5%; }
  .header__link {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 36px 14px;
    margin-top: -38px;
    position: relative; }
    .header__link-active {
      background: url("/img/square.svg") 50% 20% no-repeat;
      -webkit-background-size: 90px 90px;
              background-size: 90px;
      color: #FFFFFF;
      font-weight: lighter; }
  .header__menu {
    display: none; }
  .header .phone__img {
    position: relative;
    top: 10px;
    right: 6px; }
  .header .sub-menu {
    display: none; }

@media (max-width: 1199px) {
  .header__logo {
    font-size: 32px;
    padding-left: 20%; } }

/* Landscape phones and portrait tablets */
@media (max-width: 991px) {
  .header__logo {
    padding-left: 0px;
    font-size: 32px; }
  .header__links {
    font-size: 15px;
    padding-left: 0px; }
  .header__phone {
    font-size: 20px;
    position: relative;
    top: 14px;
    padding-right: 0px; }
  .header .phone__img {
    position: relative;
    top: 5px;
    right: 2px;
    width: 22px;
    height: 20px; } }

@media (max-width: 890px) {
  .header {
    text-align: center; }
    .header__container {
      width: 95%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__phone {
      font-size: 16px;
      font-weight: 700;
      min-width: 100px;
      padding-bottom: 40px; }
    .header__text {
      font-size: 14px;
      min-width: 100px; }
    .header__links {
      margin: auto;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      padding-left: 0px; }
    .header__logo {
      padding-bottom: 20px; }
    .header__link {
      font-size: 16px;
      padding: 8px 12px; }
    .header__phone {
      padding-top: 0px; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .header__container {
    max-width: 440px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__logo {
    height: 30px;
    padding-top: 25px;
    padding-bottom: 10px; }
  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: none; }
  .header__link {
    padding: 15px;
    margin-top: 0px; }
    .header__link-active {
      background: #b90028; }
  .header__phone {
    height: 50px;
    min-width: 192px;
    margin: auto;
    padding-top: 10px;
    padding-left: 8%;
    padding-bottom: 20px; }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 29px;
    padding-bottom: 20px; }
  .sub-menu {
    display: none;
    margin: auto; }
    .sub-menu__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 300px;
      min-width: 140px;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      font-size: 17px;
      padding: 10px;
      margin: auto; }
      .sub-menu__item-active {
        color: #FFFFFF;
        background-color: #c15648;
        -webkit-border-radius: 2px;
                border-radius: 2px; }
  .fa-arrow-circle-down {
    margin-top: 20px; }
  .fa-home {
    position: relative;
    bottom: 1px;
    left: 10px; }
  .header__menu:focus ~ .sub-menu,
  .header__menu:active ~ .sub-menu,
  .sub-menu:hover {
    display: block; } }

/* Small phones*/
@media (max-width: 380px) {
  .header__phone {
    padding-left: 3%;
    min-width: 140px; } }

.section__banner {
  -webkit-background-size: cover;
          background-size: cover;
  background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") 100% center;
  max-width: 100%;
  min-width: 220px;
  height: 925px;
  margin-top: -10px; }
  .section__banner__text {
    width: 30%;
    font-size: 38px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 16%;
    padding-left: 22.5%; }
    .section__banner__text .h1 {
      font-size: 120px;
      line-height: 0.9; }
    .section__banner__text .h2 {
      font-size: 62px;
      line-height: 1.18; }
    .section__banner__text .h3 {
      font-size: 46px; }
    .section__banner__text .h4 {
      font-size: 43px; }
    .section__banner__text .h5 {
      font-size: 38px; }
  .section__banner-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    -webkit-animation: timing 2s infinite alternate;
            animation: timing 2s infinite alternate;
    -webkit-animation-name: swipe-down;
            animation-name: swipe-down; }
  .section__banner-scroller {
    background: url("/img/scroller.png") no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 60px;
    height: 65px;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    margin: 4.5% auto auto;
    cursor: pointer; }

@-webkit-keyframes swipe-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(15px) scale(0.9);
            transform: translateY(15px) scale(0.9);
    opacity: 0.7; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); } }

@keyframes swipe-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(15px) scale(0.9);
            transform: translateY(15px) scale(0.9);
    opacity: 0.7; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); } }

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__banner {
    height: 780px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") 90% 20%; }
    .section__banner__text {
      width: 58%;
      font-size: 38px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      padding: 16% 0% 22% 16%; }
      .section__banner__text .h1 {
        font-size: 80px;
        line-height: 0.9; }
      .section__banner__text .h2 {
        font-size: 50px;
        line-height: 1.18; }
      .section__banner__text .h3 {
        font-size: 40px; }
      .section__banner__text .h4 {
        font-size: 34px; }
      .section__banner__text .h5 {
        font-size: 30px; }
    .section__banner-scroller {
      margin-top: 0%; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__banner {
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") no-repeat 100% 10%;
    -webkit-background-size: 200% 200%;
            background-size: 200%;
    height: 385px;
    margin-top: 0px; }
    .section__banner__text {
      padding-top: 3%;
      width: 80%;
      padding-bottom: 2%; }
      .section__banner__text .h1 {
        font-size: 46px;
        line-height: 0.9; }
      .section__banner__text .h2 {
        font-size: 38px;
        line-height: 1.18; }
      .section__banner__text .h3 {
        font-size: 36px; }
      .section__banner__text .h4 {
        font-size: 26px; }
      .section__banner__text .h5 {
        font-size: 22px; }
    .section__banner-scroller {
      background: url("/img/scroller.png") no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      width: 41px;
      height: 44px;
      margin-top: -1%; } }

/* Small phones*/
@media (max-width: 380px) {
  .section__banner {
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") no-repeat 100% 0%;
    -webkit-background-size: 190% 190%;
            background-size: 190%;
    height: 270px; }
    .section__banner__text {
      padding-top: 3%;
      width: 80%;
      padding-bottom: 2%; }
      .section__banner__text .h1 {
        font-size: 30px;
        line-height: 0.9; }
      .section__banner__text .h2 {
        font-size: 26px;
        line-height: 1.18; }
      .section__banner__text .h3 {
        font-size: 22px; }
      .section__banner__text .h4 {
        font-size: 20px; }
      .section__banner__text .h5 {
        font-size: 18px; } }

.section__center {
  text-align: center;
  background: #ffffff url("/img/sashka.png") center center;
  -webkit-background-size: cover;
          background-size: cover; }
  .section__center__container {
    max-width: 840px;
    padding-left: 15%;
    margin: auto; }
  .section__center__title .h1 {
    padding-left: 7%;
    padding-top: 132px;
    font-size: 42px;
    color: #c15648;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1.5px; }
  .section__center__title .h2 {
    padding-top: 8px;
    padding-left: 0.4%; }
  .section__center__title .h3 {
    padding-left: 12.3%;
    margin-top: -14px; }
  .section__center__title .h2, .section__center__title .h3 {
    font-size: 26px;
    color: #896e6f;
    line-height: 1.73;
    font-weight: 400;
    letter-spacing: 0.3px; }
  .section__center__img-wall {
    padding-left: 4.7%;
    margin-right: 10px;
    position: relative;
    top: 2px; }
  .section__center__img-home {
    margin-left: 4.7%; }
  .section__center__text {
    margin: auto;
    padding-left: 9.7%;
    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 680px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1.36; }

@media (max-width: 991px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 25% 0%;
    -webkit-background-size: cover;
            background-size: cover; }
    .section__center__container {
      max-width: 991px;
      padding: 0px;
      background: rgba(255, 255, 255, 0.75); }
    .section__center__title .h1 {
      padding-top: 80px;
      font-size: 28px; }
    .section__center__title .h2 {
      padding-top: 18px; }
    .section__center__title .h2, .section__center__title .h3 {
      font-size: 24px;
      letter-spacing: 0px;
      padding-left: 0px; }
    .section__center__img-wall {
      padding-left: 0px;
      -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
              transform: scale(0.75); }
    .section__center__img-home {
      position: relative;
      top: 4px;
      -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
              transform: scale(0.75); }
    .section__center__text {
      max-width: 800px;
      width: 100%;
      padding-top: 18px;
      padding-left: 0%;
      margin: auto;
      font-size: 21px;
      font-weight: bold; } }

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 35% 0%;
    -webkit-background-size: cover;
            background-size: cover; }
    .section__center__title .h1 {
      padding-top: 60px;
      font-size: 28px; }
    .section__center__title .h2 {
      padding-top: 0px; }
    .section__center__title .h2, .section__center__title .h3 {
      font-size: 20px; }
    .section__center__img-wall, .section__center__img-home {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
    .section__center__text {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 25px 3% 40px;
      font-size: 22px; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 25% 0%;
    -webkit-background-size: cover;
            background-size: cover; }
    .section__center__title .h1 {
      padding-top: 40px;
      font-size: 28px; }
    .section__center__title .h2 {
      letter-spacing: -0.4px;
      padding: 0px; }
    .section__center__title .h3 {
      padding-left: 2%;
      letter-spacing: -0.4px;
      margin-top: -20px; }
    .section__center__title .h2, .section__center__title .h3 {
      font-size: 16px; }
    .section__center__img-wall, .section__center__img-home {
      -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
              transform: scale(0.5);
      margin: auto; }
    .section__center__img-wall {
      margin-right: -10px;
      top: 8px; }
    .section__center__img-home {
      margin-left: -10px; }
    .section__center__text {
      font-size: 16px; } }

/* Small phones*/
@media (max-width: 380px) {
  .section__center__title .h3 {
    margin: 0px; } }

.section__how__container {
  max-width: 990px;
  margin: auto;
  text-align: center; }

.section__how__title {
  padding-top: 110px;
  font-size: 44px;
  font-weight: 400;
  color: #c15648;
  text-transform: uppercase; }

.section__how__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 89px;
  padding-bottom: 89px; }

.section__how__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 218px;
  max-height: 380px; }
  .section__how__item-bottom {
    position: relative;
    top: 50px; }
  .section__how__item-text {
    font-weight: 700;
    width: 238px;
    position: relative;
    bottom: 12px;
    height: 50px;
    font-size: 18px;
    color: #896e6f;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .section__how__item-text-t {
      top: 0px; }
    .section__how__item-text-bottom {
      position: relative;
      top: 14px; }
      .section__how__item-text-bottom-x {
        top: 23px; }

.section__how__item-background {
  -webkit-background-size: cover;
          background-size: cover;
  width: 176px;
  height: 190px;
  margin: auto; }
  .section__how__item-background-first {
    background: url("/img/how-first-step.png") no-repeat;
    margin-right: 20px; }
  .section__how__item-background-second {
    background: url("/img/how-second-step.png") no-repeat; }
  .section__how__item-background-third {
    background: url("/img/how-third-step.png") no-repeat; }
  .section__how__item-background-fourth {
    background: url("/img/how-fourth-step.png") no-repeat; }

.section__how__arrow {
  background: url("/img/how-arrow.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 42px;
  height: 24.5px;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  position: relative;
  top: 20px; }

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .section__how__item-text {
    max-width: 200px; }
    .section__how__item-text-bottom-x {
      top: -22px; } }

@media (max-width: 991px) {
  .section__how__container {
    max-width: 860px; }
  .section__how__title {
    padding-top: 80px;
    font-size: 28px; }
  .section__how__items {
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .section__how__item {
    max-width: 218px;
    max-height: 380px; }
    .section__how__item-background {
      -webkit-background-size: cover;
              background-size: cover;
      width: 123px;
      height: 133px; }
    .section__how__item-text {
      width: 160px;
      position: relative;
      bottom: 12px;
      height: 50px;
      font-size: 16px;
      font-weight: 700;
      color: #896e6f;
      line-height: 1.2;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
  .section__how__arrow {
    background: url("/img/how-arrow.png") no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    width: 42px;
    height: 24.5px;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    top: 20px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__how__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px; }
  .section__how__item-background {
    -webkit-background-size: cover;
            background-size: cover;
    width: 176px;
    height: 190px; }
  .section__how__item-text {
    min-height: 80px;
    top: 0px;
    bottom: 0px;
    margin: auto; }
    .section__how__item-text-adaptive {
      margin-top: 20px;
      margin-bottom: 60px; }
    .section__how__item-text-mobile {
      margin-top: 60px; }
  .section__how__arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__how {
    display: none; }
    .section__how__title {
      padding-top: 50px;
      font-size: 30px; }
    .section__how__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 20px;
      padding-bottom: 0px; }
    .section__how__item {
      max-width: 300px;
      max-height: 300px; }
      .section__how__item-text {
        font-size: 18px;
        letter-spacing: 0px;
        text-align: center;
        margin: auto;
        top: 0px;
        bottom: 0px;
        min-height: 80px;
        width: 100%;
        width: 380px;
        min-width: 240px; }
        .section__how__item-text-adaptive {
          margin-top: 15px;
          margin-bottom: 40px; }
        .section__how__item-text-mobile {
          margin-top: 45px; }
      .section__how__item-background {
        width: 120px;
        height: 130px;
        margin: auto; }
    .section__how__arrow {
      -webkit-transform: rotate(90deg) scale(0.8);
          -ms-transform: rotate(90deg) scale(0.8);
              transform: rotate(90deg) scale(0.8); } }

.section__form {
  background: url("/img/form1.png") no-repeat 10% 85%;
  -webkit-background-size: cover;
          background-size: cover;
  height: 945px; }
  .section__form__container {
    padding-top: 40px;
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto; }
  .section__form__title {
    font-size: 30px;
    color: #c15648;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    padding-top: 12px; }
  .section__form__order {
    width: 570px;
    height: 440px;
    background-color: #ebe2e1;
    opacity: 0.851;
    -webkit-box-shadow: 0px 9px 30.08px 1.92px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 9px 30.08px 1.92px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 212px;
    margin: auto auto auto 22.6%; }
    .section__form__order input {
      margin: auto;
      width: 73.5%;
      font-size: 30px;
      color: #4d4d4d;
      font-style: italic;
      line-height: 1.35;
      text-transform: lowercase;
      font-weight: 100;
      text-align: center;
      background: none;
      border: none;
      border-bottom: 1px solid #c15648;
      padding-top: 8px;
      padding-bottom: 12px; }

@media (max-width: 991px) {
  .section__form {
    height: 800px;
    background-position: 50% 95%; }
    .section__form__container {
      width: 70%;
      padding-top: 20px; }
    .section__form__order {
      margin: auto;
      height: auto; }
      .section__form__order .button-submit {
        margin-bottom: 40px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__form__container {
    width: 90%; }
  .section__form__order .button-submit {
    width: 100%;
    max-width: 300px; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__form {
    -webkit-background-size: 310% 310%;
            background-size: 310%;
    background-position: 35% 58%;
    height: 400px;
    z-index: 1; }
    .section__form__title {
      font-size: 22px;
      margin-bottom: 15px; }
  .section__form__order {
    top: 0px;
    margin-top: 20px; }
    .section__form__order .button-submit {
      max-width: 300px;
      height: 50px;
      background-position: 50% 60%; }
      .section__form__order .button-submit-bottom {
        width: 100%;
        margin-bottom: 30px; }
    .section__form__order input {
      margin: auto;
      width: 73.5%;
      font-size: 24px;
      color: #4d4d4d;
      font-style: italic;
      line-height: 1.35;
      text-transform: lowercase;
      font-weight: 100;
      background: none;
      border: none;
      border-bottom: 1px solid #c15648;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 12px; } }

@media (max-width: 380px) {
  .section__form__title {
    font-size: 20px !important;
    margin-bottom: 15px; } }

.section__propose {
  background: url("/img/section-background.png") no-repeat 50% 57.55%; }
  .section__propose__container {
    max-width: 1140px;
    margin: auto;
    text-align: center; }
  .section__propose__title .h1 {
    font-size: 44px;
    color: #c15648;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    position: relative;
    bottom: 20px; }
  .section__propose__title .h2 {
    font-size: 34px;
    color: #666666;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-top: 44.1px; }
  .section__propose__title .h3 {
    font-size: 30px;
    color: #c15648;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 72px;
    padding-left: 8%; }
    .section__propose__title .h3-cosmetics {
      padding-top: 78px;
      padding-left: 5.8%; }
    .section__propose__title .h3-repair {
      padding-top: 245px; }
  .section__propose__title .h4 {
    font-size: 28px;
    letter-spacing: 1.4px;
    padding-top: 78px;
    padding-right: 9%; }
    .section__propose__title .h4-repair {
      padding-top: 42px;
      padding-left: 3.5%; }
  .section__propose__title .h5 {
    font-size: 30px;
    color: #c15648;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    line-height: 1.22;
    letter-spacing: 2.3px;
    padding-left: 5%;
    padding-top: 118px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .section__propose__title .h5-cosmetics {
      font-weight: 700;
      letter-spacing: 1.4px;
      padding-left: 0px;
      margin-left: -36.2%;
      padding-top: 138px; }
    .section__propose__title .h5-repair {
      padding-top: 126px;
      line-height: 1.2; }
  .section__propose__title .h6 {
    text-align: left;
    padding-left: 19%;
    padding-top: 73px; }
  .section__propose__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .section__propose__text {
    font-size: 31px;
    color: #896e6f;
    font-weight: 300;
    letter-spacing: -0.59px;
    padding-top: 33px;
    line-height: 1.15;
    text-align: center;
    max-width: 984px;
    margin: auto; }
    .section__propose__text-bottom {
      font-size: 22px;
      color: #896e6f;
      font-style: italic;
      text-align: left;
      letter-spacing: 0.2px;
      padding-left: 16%;
      position: relative;
      bottom: 82px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section__propose__text-bottom-cosmetics {
        bottom: 38px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding-left: 0px;
        margin-left: 80%; }
      .section__propose__text-bottom-repair {
        bottom: 84px; }
      .section__propose__text-bottom-img {
        padding-left: 6px; }
  .section__propose__photo {
    background: url("/img/home.png");
    -webkit-background-size: cover;
            background-size: cover;
    width: 310px;
    height: 335px;
    position: relative;
    top: 20px;
    left: 1.1%; }
    .section__propose__photo-cosmetics {
      background: url("/img/cosmetics.png") no-repeat;
      margin-top: -136px;
      margin-right: 3.5%; }
    .section__propose__photo-repair {
      top: -70px; }
  .section__propose__about {
    width: 660px;
    padding-top: 18px;
    margin-left: -2.8%;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left; }
    .section__propose__about-repair {
      padding-top: 17px; }
    .section__propose__about-span {
      position: relative;
      top: 6.8px; }
  .section__propose__items {
    padding-top: 20px;
    padding-left: 19.3%;
    text-align: left; }
  .section__propose__item {
    font-size: 26px;
    color: #996666;
    letter-spacing: 0.3px;
    padding-top: 15.5px;
    padding-left: 7.5%; }
  .section__propose__item::before {
    width: 34px;
    content: "";
    background-image: url("/img/check.svg");
    -webkit-background-size: cover;
            background-size: cover;
    position: absolute;
    margin-top: 1px;
    margin-left: -3.55%;
    height: 34px; }
  .section__propose__price {
    background: url("/img/2500.svg");
    -webkit-background-size: cover;
            background-size: cover;
    width: 260px;
    height: 285px;
    margin-left: -23.6%;
    margin-top: 21px; }
    .section__propose__price-cosmetics {
      background: url("/img/12000.png");
      -webkit-background-size: cover;
              background-size: cover;
      margin-top: 4px;
      margin-left: -9.7%;
      width: 345px;
      height: 305px; }
    .section__propose__price-repair {
      margin-top: 28px; }
  .section__propose__cosmetics {
    text-align: left;
    padding-left: 5.75%;
    margin-top: 104px; }
    .section__propose__cosmetics__text {
      font-size: 24px;
      line-height: 1.38;
      letter-spacing: 0.22px;
      text-align: left;
      width: 58%;
      padding-top: 18px;
      padding-left: 2.8%; }

@media (max-width: 1050px) {
  .section__propose {
    background-position: 50% 61%;
    -webkit-background-size: 168% 168%;
            background-size: 168%; }
    .section__propose__title .h3 {
      padding-top: 50px; }
      .section__propose__title .h3-cosmetics {
        text-align: center; }
    .section__propose__photo {
      left: 0px;
      width: 290px;
      height: 315px;
      -webkit-background-size: cover;
              background-size: cover; }
      .section__propose__photo-cosmetics {
        margin-right: 0%; }
    .section__propose__price {
      margin-left: -18%;
      margin-bottom: 00px;
      width: 240px;
      height: 265px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 991px) {
  .section__propose {
    background-position: 50% 62.2%;
    -webkit-background-size: 290% 290%;
            background-size: 290%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
    .section__propose__title {
      margin: auto;
      text-align: center; }
      .section__propose__title .h1 {
        font-size: 28px; }
      .section__propose__title .h2 {
        font-size: 26px; }
      .section__propose__title .h3 {
        font-size: 26px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px; }
      .section__propose__title .h5 {
        font-size: 26px; }
      .section__propose__title .h5-cosmetics {
        margin-left: 5%;
        padding-top: 40px; }
      .section__propose__title .h6 {
        padding-left: 5.5%; }
    .section__propose__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: auto;
      text-align: center; }
    .section__propose__photo, .section__propose__about {
      margin: auto; }
    .section__propose__photo {
      top: 0px;
      margin-top: 40px; }
    .section__propose__about {
      margin-top: 25px;
      width: 90%; }
    .section__propose__price {
      margin: auto;
      margin-bottom: 0px; }
    .section__propose__text {
      font-size: 24px; }
      .section__propose__text-bottom {
        bottom: 0px;
        padding-left: 5%; }
        .section__propose__text-bottom-cosmetics {
          margin-left: -0%;
          padding-left: 50%; }
        .section__propose__text-bottom-repair {
          padding-left: 5%; }
    .section__propose__items {
      padding-left: 5%; }
    .section__propose-item {
      font-size: 22px; }
    .section__propose__item::before {
      margin-left: -8%;
      width: 38px;
      height: 38px;
      margin-top: 10px; }
    .section__propose__cosmetics__text {
      width: 100%;
      text-align: center;
      padding-left: 0px; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__propose {
    background-image: none; }
    .section__propose__title .h1 {
      font-size: 24px;
      letter-spacing: 0.2px;
      bottom: 0px; }
    .section__propose__title .h2 {
      font-size: 18px;
      letter-spacing: 0.4px;
      padding-top: 30px; }
    .section__propose__title .h3 {
      font-size: 20px;
      letter-spacing: 0.4px;
      padding-top: 30px;
      margin-bottom: 20px; }
      .section__propose__title .h3-repair {
        padding-top: 70px; }
      .section__propose__title .h3-cosmetics {
        margin-top: 0px;
        padding-top: 70px; }
    .section__propose__title .h5 {
      padding-left: 0px;
      padding-right: 3%;
      padding-top: 30px;
      padding-bottom: 10px;
      font-size: 21px;
      letter-spacing: 0.4px; }
    .section__propose__title .h5-cosmetics {
      padding-top: 0px;
      margin: auto; }
      .section__propose__title .h5-cosmetics br {
        display: none; }
    .section__propose__title .h6 {
      text-align: center; }
    .section__propose__about {
      font-size: 20px;
      letter-spacing: -0.2px;
      margin-top: 20px;
      width: 96%; }
    .section__propose__items {
      padding-top: 0px;
      padding-left: 0.5%;
      padding-right: 0px; }
    .section__propose__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: 20px;
      letter-spacing: 0px;
      padding-left: 10%; }
    .section__propose__item::before {
      margin-left: -10%;
      height: 30px;
      width: 30px;
      margin-top: 0px; }
    .section__propose__text {
      font-size: 20px;
      letter-spacing: -0.2px;
      padding-top: 10px; }
      .section__propose__text-bottom {
        font-size: 18px; }
        .section__propose__text-bottom-cosmetics {
          padding-top: 20px;
          padding-left: 0px; }
        .section__propose__text-bottom-repair {
          padding-left: 0px; }
    .section__propose__price {
      width: 150px;
      height: 160px;
      margin-bottom: 8px; }
    .section__propose__photo {
      width: 186px;
      height: 201px;
      -webkit-background-size: cover;
              background-size: cover;
      margin-top: 10px; }
    .section__propose__cosmetics__text {
      padding-top: 0px;
      padding-bottom: 20px;
      font-size: 22px;
      letter-spacing: -0.59px; } }

/* Small phones*/
@media (max-width: 380px) {
  background-position: 0% 0%;
  -webkit-background-size: 620% 620%;
          background-size: 620%; }

.section__works {
  margin: auto;
  text-align: center; }
  .section__works__container {
    max-width: 1278px;
    margin: auto;
    text-align: center; }
  .section__works__title {
    padding-top: 139px;
    padding-left: 1%;
    font-size: 44px;
    letter-spacing: 0.2px;
    font-weight: lighter;
    color: #c15648;
    text-transform: uppercase; }
  .section__works__items {
    background: url("/img/sec_works_line.svg") no-repeat 50% 4%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 84px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .section__works__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 1px;
    width: 425px;
    height: 319px;
    -webkit-background-size: cover;
            background-size: cover;
    font-size: 0px;
    text-align: center; }
    .section__works__item-text {
      max-width: 80%;
      letter-spacing: 0.8px;
      margin-bottom: 12.7%;
      line-height: 1.3; }
  .section__works__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF; }
  .section__works__item:hover {
    font-size: 28px;
    font-weight: lighter;
    -webkit-box-shadow: inset 0px 490px 0px rgba(155, 112, 105, 0.75);
            box-shadow: inset 0px 490px 0px rgba(155, 112, 105, 0.75);
    position: relative; }
  .section__works #show-more {
    cursor: pointer; }
  .section__works #more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .section__works .fa-plus-circle {
    position: relative;
    top: 17%; }
  .section__works__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 83.6%;
    padding-top: 14px;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    color: #896e6f;
    font-style: italic;
    line-height: 1.727;
    height: 100px; }
    .section__works__bottom-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section__works__bottom-item_img {
        padding-left: 8px; }
    .section__works__bottom-img {
      padding-right: 8px; }
    .section__works__bottom-span {
      font-size: 48px;
      color: #896e6f;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0px 8px; }

@media (max-width: 1299px) {
  .section__works__container {
    max-width: 856px;
    margin: auto;
    text-align: center; }
  .section__works__items {
    padding-top: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .section__works__item {
    padding: 0px; }
    .section__works__item-h {
      display: none; }
  .section__works__bottom-img {
    margin-right: -15%; } }

/* Portrait tablets and small desktops */
@media (max-width: 890px) {
  .section__works__container {
    max-width: 500px;
    margin: auto;
    text-align: center; }
  .section__works__items {
    background: none;
    padding-top: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .section__works__item {
    padding: 0px; }
  .section__works__bottom {
    width: 100%; }
    .section__works__bottom-img {
      margin-right: 0px; } }

/* Landscape phones and portrait tablets */
/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__works__title {
    font-size: 30px;
    padding-left: 0px;
    padding-top: 50px; }
  .section__works__items {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .section__works__item {
    margin-top: 0px;
    height: 80%;
    min-height: 260px;
    background: no-repeat center center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .section__works__item:hover {
      font-size: 24px; }
    .section__works__item-h {
      display: none; }
    .section__works__item-img {
      width: 100%; }
  .section__works #more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section__works__bottom {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .section__works__bottom-item-all {
      position: relative;
      bottom: 4px; }
    .section__works__bottom-item-img {
      position: relative;
      top: 4px; }
    .section__works__bottom-span {
      font-size: 40px; } }

/* Small phones*/
@media (max-width: 380px) {
  .section__works__bottom {
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .section__works__bottom-span {
      font-size: 36px; } }

.section__bottom {
  background: url("/img/form-bottom.png") 0% 52% no-repeat; }

.section__form__order-bottom {
  width: 63%;
  max-width: 719px;
  height: 440px;
  margin: 310px auto auto;
  position: relative;
  top: 0px; }
  .section__form__order-bottom__title {
    font-size: 30px;
    color: #c15648;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -1px;
    padding-top: 22px; }
  .section__form__order-bottom-bottom {
    top: 0px;
    margin: auto; }

.section__form__order {
  height: auto; }

.section__form__container-bottom {
  padding-top: 0px; }

@media (max-width: 890px) {
  .section__form__title {
    font-size: 28px; }
  .section__form__order {
    height: auto; }
    .section__form__order-bottom {
      margin-top: 100px;
      width: 90%; }
    .section__form__order__input {
      font-size: 10px; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__form__title {
    font-size: 22px;
    letter-spacing: -1.2px; }
  .section__form__order-bottom {
    margin-top: 60px; }
  .section__form__container {
    width: 100%; }
  .section__form__order {
    width: 100%; } }

footer {
  max-width: 1483px; }

.footer {
  background-color: #856363;
  margin-top: 184px; }

.section__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  color: #f2f2f2;
  font-weight: lighter;
  display: flex; }
  .section__footer__title {
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 4px;
    padding-bottom: 14px;
    margin: auto; }
  .section__footer__lines {
    position: relative;
    bottom: 18px;
    width: 100%;
    height: 9px; }
  .section__footer__container {
    text-align: left;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2%; }
  .section__footer__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 17px;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 1.36; }
    .section__footer__item-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
  .section__footer__item:nth-last-child(1) {
    padding-bottom: 10px;
    position: relative;
    top: 1px; }
  .section__footer__img {
    padding: 5px 12px 5px 5px;
    background: url("/img/location.svg") no-repeat;
    min-width: 30px;
    min-height: 30px; }
    .section__footer__img-phone {
      background: url("/img/footer-phone.svg") 0% 69% no-repeat;
      padding-right: 15px; }
    .section__footer__img-mail {
      background: url("/img/mail.svg") no-repeat;
      padding-right: 16px; }
  .section__footer__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .section__footer__icon {
    min-height: 50px;
    min-width: 55px;
    padding: 3px 8px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .section__footer__icon-facebook {
      background: url("/img/facebook.svg") no-repeat; }
    .section__footer__icon-twitter {
      background: url("/img/twitter.svg") no-repeat; }
    .section__footer__icon-google {
      background: url("/img/google.svg") no-repeat; }
    .section__footer__icon-vk {
      background: url("/img/vk.svg") no-repeat; }
    .section__footer__icon-skype {
      background: url("/img/skype.svg") no-repeat; }
  .section__footer__icon:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s; }
  .section__footer__bottom {
    background-color: #705252; }
    .section__footer__bottom-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 1075px;
      margin: auto;
      text-align: center;
      font-size: 14px;
      color: #d9d1d1;
      font-weight: lighter;
      padding-top: 10px;
      padding-bottom: 19px; }
    .section__footer__bottom__item {
      font-style: italic;
      position: relative;
      bottom: 6px; }
    .section__footer__bottom-img {
      position: relative;
      top: 8px;
      left: 2px; }
  .section__footer #map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -23px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-background-size: cover;
            background-size: cover;
    margin-left: auto;
    max-width: 912px;
    min-width: 80px;
    width: 100%;
    height: 100%;
    height: 336px;
    width: 930px;
    height: 340px;
    text-align: right; }

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .section__footer__item {
    padding-left: 20px;
    font-size: 16px;
    letter-spacing: 0.2px; }
  .section__footer__icons {
    padding-left: 15px; }
  .section__footer__bottom {
    padding-left: 5%;
    padding-right: 5%; } }

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .footer {
    margin-top: 120px; }
  .section__footer__title {
    padding-right: 5%;
    text-align: center; }
  .section__footer #map {
    background-position: 15% 40%; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section__footer__container {
    padding-left: 0px; }
  .section__footer #map {
    background-position: 30% 40%; } }

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .footer {
    margin-top: 100px; }
  .section__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section__footer__lines {
      bottom: 16px; }
    .section__footer__title {
      font-size: 26px; }
    .section__footer__items {
      padding-top: 16px; }
    .section__footer__item {
      padding-left: 20px;
      font-size: 18px; }
    .section__footer__img {
      padding: 5px 15px 5px 0px;
      -webkit-background-size: 26px 26px;
              background-size: 26px; }
      .section__footer__img-phone {
        position: relative;
        top: 6px; }
    .section__footer__icons {
      margin: auto auto 20px;
      padding-left: 0px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .section__footer__icon {
      min-height: 45px;
      min-width: 33px;
      padding-bottom: 30px; }
    .section__footer #map {
      height: 250px;
      max-width: 100%;
      bottom: 0px; }
    .section__footer__bottom-text {
      font-size: 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
    .section__footer__bottom__item {
      text-align: center; } }

/* Small phones*/
@media (max-width: 380px) {
  .section__footer__icon {
    -webkit-background-size: cover;
            background-size: cover;
    min-height: 17px;
    min-width: 30px;
    margin-bottom: 18px; }
  .section__footer__item {
    padding-left: 14px;
    font-size: 16px;
    letter-spacing: -0.3px; }
  .section__footer__img {
    -webkit-background-size: 22px 22px;
            background-size: 22px;
    max-width: 20px;
    padding: 0px 8px 0px 0px; }
  .section__footer #map {
    height: 240px; }
  .section__footer__bottom__item {
    text-align: left; } }
