.section__center {
  text-align: center;
  background: #ffffff url("/img/sashka.png") center center;
  background-size: cover;
  &__container {
    max-width: 840px;
    padding-left: 15%;
    margin: auto;
  }
  &__title{
    .h1 {
      padding-left: 7%;
      padding-top: 132px;

      font-size: 42px;
      color: rgb(193, 86, 72);
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 1.5px;
    }
    .h2 {
      padding-top: 8px;
      padding-left: 0.4%;
    }
    .h3 {
      padding-left: 12.3%;
      margin-top: -14px;
    }
    .h2, .h3 {
      font-size: 26px;
      color: rgb(137, 110, 111);
      line-height: 1.73;
      font-weight: 400;
      letter-spacing: 0.3px;
    }
  }
  &__img {
    &-wall {
      padding-left: 4.7%;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
    &-home {
      margin-left: 4.7%;
    }
  }
  &__text {
    margin: auto;

    padding-left: 9.7%;
    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 680px;

    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1.36;
  }
}

@media (max-width: 991px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 25% 0%;
    background-size: cover;

    &__container {
      max-width: 991px;
      padding: 0px;
      background: rgba(255, 255, 255, 0.75);
    }
    &__title{
      .h1 {
        padding-top: 80px;
        font-size: 28px;
      }
      .h2 {
        padding-top: 18px;
      }
      .h2, .h3 {
        font-size: 24px;
        letter-spacing: 0px;
        padding-left: 0px;
      }
    }
    &__img {
      &-wall {
        padding-left: 0px;
        transform: scale(0.75);
      }
      &-home {
        position: relative;
        top: 4px;
        transform: scale(0.75);
      }
    }
    &__text {
      max-width: 800px;
      width: 100%;
      padding-top: 18px;
      padding-left: 0%;
      margin: auto;

      font-size: 21px;
      font-weight: bold;
    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 35% 0%;
    background-size: cover;
   &__title{
     .h1 {
       padding-top: 60px;
       font-size: 28px;
     }
     .h2 {
       padding-top: 0px;
     }
     .h2, .h3 {
       font-size: 20px;
     }
   }
    &__img {
      &-wall, &-home {
        transform: scale(0.8);
      }
    }
    &__text {
      box-sizing: border-box;
      padding: 25px 3% 40px;
      font-size: 22px;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__center {
    background: #ffffff url("/img/sashka.png") no-repeat 25% 0%;
    background-size: cover;
   &__title{
     .h1 {
       padding-top: 40px;
       font-size: 28px;
     }
     .h2 {
       letter-spacing: -0.4px;
       padding: 0px;
     }
     .h3 {
       padding-left: 2%;
       letter-spacing: -0.4px;
       margin-top: -20px;
     }
     .h2, .h3 {
       font-size: 16px;
     }
   }
    &__img {
      &-wall, &-home {
        transform: scale(0.5);
        margin: auto;
      }
      &-wall {
        margin-right: -10px;
        top: 8px;
      }
      &-home {
        margin-left: -10px;
      }
    }
    &__text {
      font-size: 16px;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section__center {
    &__title{
      .h3 {
        margin: 0px;
      }
    }
  }
}