footer {
   max-width: 1483px;
 }

.footer {
  background-color: #856363;
  margin-top: 184px;
}

.section__footer {
  display: flex;
  margin-left: auto;

  color: rgb(242, 242, 242);
  font-weight: lighter;
  display: flex;
  &__title {
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: -1px;

    padding-top: 4px;
    padding-bottom: 14px;
    margin: auto;
  }
  &__lines {
    position: relative;
    bottom: 18px;
    width: 100%;
    height: 9px;
  }
  &__container {
    text-align: left;
    justify-content: space-between;
    padding-left: 2%;
  }
//.map {
//    display: flex;
//    margin-top: -23px;
//    justify-content: flex-end;
//    //background: url("/img/map.png") no-repeat;
//    background-size: cover;
//
//    margin-left: auto;
//    max-width: 912px;
//    min-width: 80px;
//    width: 100%;
//    height: 100%;
//    height: 336px;
//
//    width: 930px;
//    height: 340px;
//
//    text-align: right;
//  }

  &__item {
    display: flex;
    flex-direction: row;

    padding-bottom: 17px;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 1.36;
    &-wrap{
      flex-direction: column;
    }
  }
  &__item:nth-last-child(1) {
    padding-bottom: 10px;
    position: relative;
    top: 1px;
  }
  &__img {
    padding: 5px 12px 5px 5px;
    background: url("/img/location.svg") no-repeat;
    min-width: 30px;
    min-height: 30px;
    &-phone {
      background: url("/img/footer-phone.svg") 0% 69% no-repeat;
      padding-right: 15px;
    }
    &-mail {
      background: url("/img/mail.svg") no-repeat;
      padding-right: 16px;
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
  }
  &__icon {
    min-height: 50px;
    min-width: 55px;

    padding: 3px 8px;
    transition: 1s;
    &-facebook {
      background: url("/img/facebook.svg") no-repeat;
    }
    &-twitter {
      background: url("/img/twitter.svg") no-repeat;
    }
    &-google {
      background: url("/img/google.svg") no-repeat;
    }
    &-vk {
      background: url("/img/vk.svg") no-repeat;
    }
    &-skype {
      background: url("/img/skype.svg") no-repeat;
    }
  }
  &__icon:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.5s;
  }

  &__bottom {
    background-color: #705252;
    &-text {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      max-width: 1075px;
      margin: auto;
      text-align: center;

      font-size: 14px;
      color: #d9d1d1;
      font-weight: lighter;

      padding-top: 10px;
      padding-bottom: 19px;
    }
    &__item {
      font-style: italic;
      position: relative;
      bottom: 6px;
    }
    &-img {
      position: relative;
      top: 8px;
      left: 2px;
    }
  }
  #map {
    display: flex;
    margin-top: -23px;
    justify-content: flex-end;
    //background: url("/img/map.png") no-repeat;
    background-size: cover;

    margin-left: auto;
    max-width: 912px;
    min-width: 80px;
    width: 100%;
    height: 100%;
    height: 336px;

    width: 930px;
    height: 340px;

    text-align: right;
  }

}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .section__footer {
    &__item {
      padding-left: 20px;

      font-size: 16px;
      letter-spacing: 0.2px;
    }
    &__icons {
      padding-left: 15px;
    }
    &__bottom {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .footer {
    margin-top: 120px;
  }
  .section__footer {
    &__title {
      padding-right: 5%;
      text-align: center;
    }
    #map {
      background-position: 15% 40%;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section__footer {
    &__container {
      padding-left: 0px;
    }
    #map {
      background-position: 30% 40%;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .footer {
    margin-top: 100px;
  }
  .section__footer {
    flex-direction: column;
    &__lines {
      bottom: 16px;
    }
    &__title {
      font-size: 26px;
    }
    &__items {
      padding-top: 16px;
    }
    &__item {
      padding-left: 20px;
      font-size: 18px;
    }
    &__img {
      padding: 5px 15px 5px 0px;
      background-size: 26px;
      &-phone {
        position: relative;
        top: 6px;
      }
    }
    &__icons {
      margin: auto auto 20px;
      padding-left: 0px;

      text-align: center;
      display: flex;
      justify-content: space-around;
    }
    &__icon {
      min-height: 45px;
      min-width: 33px;
      padding-bottom: 30px;
    }
    #map {
      //background-position: 25% 40%;
      height: 250px;
      max-width: 100%;
      bottom: 0px;
    }
    &__bottom {
      &-text {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
      }
      &__item{
        text-align: center;
      }
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section__footer {
    &__icon {
      background-size: cover;
      min-height: 17px; //45
      min-width: 30px; //33
      margin-bottom: 18px;
    }
    &__item {
      padding-left: 14px;

      font-size: 16px;
      letter-spacing: -0.3px;
    }
    &__img {
      background-size: 22px;
      max-width: 20px;
      padding: 0px 8px 0px 0px;
    }
    #map {
      height: 240px;
    }
    &__bottom__item{
      text-align: left;
    }
  }
}