.section__banner {
  background-size: cover;
  background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") 100% center;

  max-width: 100%;
  min-width: 220px;
  height: 925px;
  margin-top: -10px;

  &__text {
    width: 30%;

    font-size: 38px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;

    padding-top: 16%;
    padding-left: 22.5%;
    .h1 {
      font-size: 120px;
      line-height: 0.9;
    }
    .h2 {
      font-size: 62px;
      line-height: 1.18;
    }
    .h3 {
      font-size: 46px;
    }
    .h4 {
      font-size: 43px;
    }
    .h5 {
      font-size: 38px;
    }
  }
  &-link{
    display: flex;
    margin: auto;
    transition: 5s;

    animation: timing 2s infinite alternate;
    animation-name: swipe-down;
  }
  &-scroller {
    background: url("/img/scroller.png") no-repeat;
    background-size: cover;

    width: 60px;
    height: 65px;
    transition: 5s;
    margin: 4.5% auto auto;

    cursor: pointer;
  }

  @keyframes swipe-down  {
    0% {
      opacity: 1;
      transform: translateY(-8px);
    }
    50% {
      transform: translateY(15px) scale(.9);
      opacity: 0.7;
    }
    100% {
      opacity: 1;
      transform: translateY(-8px);
    }
  }
}

@media (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__banner {
    height: 780px;
    background-size: 100%;
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") 90% 20%;

    &__text {
      width: 58%;

      font-size: 38px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;

      padding: 16% 0% 22% 16%;
      .h1 {
        font-size: 80px;
        line-height: 0.9;
      }
      .h2 {
        font-size: 50px;
        line-height: 1.18;
      }
      .h3 {
        font-size: 40px;
      }
      .h4 {
        font-size: 34px;
      }
      .h5 {
        font-size: 30px;
      }
    }
    &-scroller {
      margin-top: 0%;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__banner {
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") no-repeat 100% 10%;
    background-size: 200%;

    height: 385px;
    margin-top: 0px;
    &__text {
      padding-top: 3%;
      width: 80%;
      padding-bottom: 2%;

      .h1 {
        font-size: 46px;
        line-height: 0.9;
      }
      .h2 {
        font-size: 38px;
        line-height: 1.18;
      }
      .h3 {
        font-size: 36px;
      }
      .h4 {
        font-size: 26px;
      }
      .h5 {
        font-size: 22px;
      }
    }

    &-scroller {
      background: url("/img/scroller.png") no-repeat;
      background-size: cover;

      width: 41px; //60
      height: 44px;//65
      margin-top: -1%;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section__banner {
    background: rgba(193, 86, 72, 0.502) url("/img/banner-first.png") no-repeat 100% 0%;
    background-size: 190%;
    height: 270px;
    &__text {
      padding-top: 3%;
      width: 80%;
      padding-bottom: 2%;
      .h1 {
        font-size: 30px;
        line-height: 0.9;
      }
      .h2 {
        font-size: 26px;
        line-height: 1.18;
      }
      .h3 {
        font-size: 22px;
      }
      .h4 {
        font-size: 20px;
      }
      .h5 {
        font-size: 18px;
      }
    }
  }
}