.header {
  background: #ffffff;

  font-size: 17px;
  text-transform: uppercase;
  line-height: 0.941;
  min-height: 78px;

  &__container {
    display: flex;
    justify-content: space-around;

    max-width: 1152px;
    margin: auto;
  }
  &__logo {
    font-size: 36px;
    color: rgb(193, 86, 72);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.4px;

    padding-top: 26px;
    padding-left: 32%; //1
  }
  &__phone {
    font-size: 24px;
    color: rgb(137, 110, 111);
    font-weight: 700;

    padding-top: 14px;
    padding-right: 2%;
  }
  &__links {
    display: flex;
    flex-direction: row;
    padding-top: 38px;
    padding-left: 3.5%;
  }
  &__link {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;

    padding: 36px 14px;
    margin-top: -38px;
    position: relative;

    &-active {
      background: url("/img/square.svg") 50% 20% no-repeat;
      background-size: 90px;
      color: #FFFFFF;
      font-weight: lighter;
    }
  }
  &__menu {
    display: none;
  }
  .phone__img {
    position: relative;
    top: 10px;
    right: 6px;
  }
  .sub-menu {
    display: none;
  }
}

///* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .header{
    &__logo{
      font-size: 32px;
      padding-left: 20%;
    }
  }
}
/* Landscape phones and portrait tablets */

@media (max-width: 991px) {
  .header {
    &__logo {
      padding-left: 0px;
      font-size: 32px;
    }
    &__links {
      font-size: 15px;
      padding-left: 0px;
    }

    &__phone {
      font-size: 20px;

      position: relative;
      top: 14px;
      padding-right: 0px;
    }
    .phone__img {
      position: relative;
      top: 5px;
      right: 2px;
      width: 22px;
      height: 20px;
    }
  }
}

@media (max-width: 890px) {
  .header {
    text-align: center;
    &__container {
      width: 95%;
      flex-direction: column;
    }

    &__phone {
      font-size: 16px;
      font-weight: 700;

      min-width: 100px;
      padding-bottom: 40px;
    }
    &__text {
      font-size: 14px;
      min-width: 100px;
    }
    &__links {
      margin: auto;
      box-sizing: content-box;
      padding-left: 0px;
    }
    &__logo {
      padding-bottom: 20px;
    }
    &__link {
      font-size: 16px;
      padding: 8px 12px;
    }
    &__phone {
      padding-top: 0px;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .header {
    &__container {
      max-width: 440px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-left: 3%;
      padding-right: 3%;
      box-sizing: border-box;
    }
    &__logo {
      height: 30px;
      padding-top: 25px;
      padding-bottom: 10px;
    }
    &__links {
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;

      display: none;
    }
    &__link {
      padding: 15px;
      margin-top: 0px;
      &-active {
        background: #b90028;
      }
    }
    &__phone {
      height: 50px;
      min-width: 192px;
      margin: auto;
      padding-top: 10px;
      padding-left: 8%;
      padding-bottom: 20px;
    }
    &__menu {
      display: flex;
      padding-top: 29px;
      padding-bottom: 20px;
    }
  }
  .sub-menu {
    display: none;
    margin: auto;
    &__item {
      display: flex;
      max-width: 300px;
      min-width: 140px;
      justify-content: space-around;

      font-size: 17px;
      padding: 10px ;
      margin: auto;
      &-active {
        color: #FFFFFF;
        background-color: #c15648;
        border-radius: 2px;
      }
    }
  }
  .fa-arrow-circle-down {
    margin-top: 20px;
  }
.fa-home{
  position: relative;
  bottom: 1px;
  left: 10px;
}
  .header__menu:focus ~ .sub-menu,
  .header__menu:active ~ .sub-menu,
  .sub-menu:hover {
    display: block;
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .header{
    &__phone{
      padding-left: 3%;
      min-width: 140px;
    }
  }
}