.section__how {
  &__container {
    max-width: 990px; //1020
    margin: auto;
    text-align: center;
  }
  &__title {
    padding-top: 110px;

    font-size: 44px;
    font-weight: 400;
    color: rgb(193, 86, 72);
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 89px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    max-width: 218px;
    max-height: 380px;
    &-bottom {
      position: relative;
      top: 50px;
    }
    &-text {
      font-weight: 700;
      width: 238px;
      position: relative;
      bottom: 12px;
      height: 50px;

      font-size: 18px;
      color: rgb(137, 110, 111);
      line-height: 1.2;

      display: flex;
      justify-content: space-around;
      &-t {
        top: 0px;
      }
      &-bottom {
        position: relative;
        top: 14px;
        &-x {
          top: 23px;
        }
      }
    }
  }
  &__item-background {
    background-size: cover;
    width: 176px;
    height: 190px;
    margin: auto;
    &-first {
      background: url("/img/how-first-step.png") no-repeat;
      margin-right: 20px;
    }
    &-second {
      background: url("/img/how-second-step.png") no-repeat;
    }
    &-third {
      background: url("/img/how-third-step.png") no-repeat;
    }
    &-fourth {
      background: url("/img/how-fourth-step.png") no-repeat;
    }
  }
  &__arrow {
    background: url("/img/how-arrow.png") no-repeat;
    background-size: cover;
    width: 42px; //60
    height: 24.5px; //35
    transform: scale(1.3);
    position: relative;
    top: 20px;
  }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
  .section__how {
    &__item {
      &-text {
        max-width: 200px;
        &-bottom-x{
          top: -22px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .section__how {
    &__container {
      max-width: 860px;
    }
    &__title{
      padding-top: 80px;
      font-size: 28px;
    }
    &__items {
      padding-top: 80px;
      padding-bottom: 80px;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 218px; //218
      max-height: 380px; //380
      &-background {
        background-size: cover;
        width: 123px; //176
        height: 133px; //190
      }
      &-text {
        width: 160px;
        position: relative;
        bottom: 12px;
        height: 50px;

        font-size: 16px;
        font-weight: 700;
        color: rgb(137, 110, 111);
        line-height: 1.2;

        display: flex;
        justify-content: space-around;
      }
    }
    &__arrow {
      background: url("/img/how-arrow.png") no-repeat;
      background-size: cover;
      width: 42px; //60
      height: 24.5px; //35
      transform: scale(1.1);

      position: relative;
      top: 20px;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__how {
    &__items {
      flex-direction: column;
      padding-top: 60px;
    }
    &__item {
      &-background {
        background-size: cover;
        width: 176px; //176
        height: 190px; //190
      }
      &-text {
        min-height: 80px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        &-adaptive {
          margin-top: 20px;
          margin-bottom: 60px;
        }
        &-mobile {
          margin-top: 60px;
        }
      }
    }
    &__arrow {
      transform: rotate(90deg);
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__how {
    display: none;
    &__title {
      padding-top: 50px;
      font-size: 30px;
    }
    &__items {

      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 0px;
    }
    &__item {
      max-width: 300px;
      max-height: 300px;
      &-text {
        font-size: 18px;
        letter-spacing: 0px;
        text-align: center;
        margin: auto;

        top: 0px;
        bottom: 0px;

        min-height: 80px;
        width: 100%;
        width: 380px;//250
        min-width: 240px;//160
        &-adaptive {
          margin-top: 15px;
          margin-bottom: 40px;
        }
        &-mobile {
          margin-top: 45px;
        }
      }
      &-background {
        width: 120px;//159
        height: 130px;//172
        margin: auto;
      }
    }
    &__arrow {
      transform: rotate(90deg) scale(0.8);
    }
  }
}
