.section__works {
  margin: auto;
  text-align: center;

  &__container {
    max-width: 1278px;
    margin: auto;
    text-align: center;

  }
  &__title{
    padding-top: 139px;
    padding-left: 1%;

    font-size: 44px;
    letter-spacing: 0.2px;
    font-weight: lighter;
    color: rgb(193, 86, 72);
    text-transform: uppercase;
  }
  &__items {
    background: url("/img/sec_works_line.svg") no-repeat 50% 4%;
    box-sizing: border-box;
    padding-top: 84px;

    display: flex;
    margin: auto;

    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 1px;
    width: 425px;
    height: 319px;

    background-size: cover;
    font-size: 0px;
    text-align: center;
    &-text {
      max-width: 80%;
      letter-spacing: 0.8px;
      margin-bottom: 12.7%;
      line-height: 1.3;
    }
  }
  &__item {
    display: flex;
    justify-content: space-around;

    align-items: center;
    transition: 0.5s;
    text-align: center;

    text-decoration: none;
    color: #FFFFFF;
  }
  &__item {
    &:hover {
      font-size: 28px;
      font-weight: lighter;

      box-shadow: inset 0px 490px 0px rgba(155, 112, 105, 0.75);
      position: relative;
    }
  }
  #show-more{
    cursor: pointer;
  }
  #more{
    display: flex;
  }
  .fa-plus-circle {
    position: relative;
    top: 17%;
  }
  &__bottom {
    display: flex;
    width: 83.6%;
    padding-top: 14px;
    margin: auto;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    color: rgb(137, 110, 111);
    font-style: italic;
    line-height: 1.727;

    height: 100px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_img {
        padding-left: 8px;
      }
    }
    &-img {
      padding-right: 8px;
    }
    &-span {
      font-size: 48px;
      color: rgb(137, 110, 111);
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;

      padding: 0px 8px;
    }
  }
}

@media (max-width: 1299px) {
  .section__works {
    &__container {
      max-width: 856px;
      margin: auto;
      text-align: center;
    }
    &__items {
      padding-top: 70px;
      display: flex;
    }
    &__item {
      padding: 0px;
      &-h {
        display: none;
      }
    }
    &__bottom {

      &-img {
        margin-right: -15%;
      }
      &-item {
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 890px) {
  .section__works {
    &__container {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }
    &__items {
      background: none;
      padding-top: 70px;
      display: flex;
      justify-content: space-around;
    }
    &__item {
      padding: 0px;

    }
    &__bottom {
      width: 100%;
      &-img {
        margin-right: 0px;
      }
      &-item {
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__works {
    &__title{
      font-size: 30px;

      padding-left: 0px;
      padding-top: 50px;
    }
    &__items {
      padding-top: 40px;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;

    }
    &__item {
      margin-top: 0px;

      height: 80%;
      min-height: 260px;
      background: no-repeat center center;
      box-sizing: border-box;
      &:hover {
        font-size: 24px;
      }
      &-h {
        display: none;
      }
      &-img {
        width: 100%;
      }
    }
    #more{
      display: flex;
      flex-direction: column;
    }

    &__bottom {
      font-size: 17px;

      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;

      align-items: center;
      justify-content: space-around;
      &-item {
        &-all {
          position: relative;
          bottom: 4px;
        }
        &-img {
          position: relative;
          top: 4px;
        }
      }
      &-span {
        font-size: 40px;
      }
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section__works {
    &__bottom {
      font-size: 16px;

      display: flex;
      flex-wrap: wrap;
      &-span {
        font-size: 36px;
      }
    }
  }
}