.section__bottom {
  background: url("/img/form-bottom.png") 0% 52% no-repeat;
}
.section__form__order-bottom {
  width: 63%;
  max-width: 719px;
  height: 440px;
  margin: 310px auto auto;
  position: relative;
  top: 0px;
  &__title{
    font-size: 30px;
    color: rgb(193, 86, 72);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -1px;

    padding-top: 22px;
  }
  &-bottom {
    top: 0px;
    margin: auto;
  }
}

.section__form {
  &__order {
    height: auto;
  }
  &__container-bottom {
    padding-top: 0px;
  }
}

@media (max-width: 890px) {
  .section__form{
    &__title {
      font-size: 28px;
    }
  }
  .section__form__order {
    height: auto;
    &-bottom {
      margin-top: 100px;
      width: 90%;

    }

    &__input {
      font-size: 10px;
    }

  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__form {
    &__title{
      font-size: 22px;
      letter-spacing: -1.2px;
    }
    &__order {
      &-bottom {
        margin-top: 60px;
      }
    }
    &__container {
      width: 100%;
    }
    &__order {
      width: 100%;
    }
  }
}

