.section__form {
  background: url("/img/form1.png") no-repeat 10% 85%;
  background-size: cover;
  height: 945px;
  &__container {
    padding-top: 40px;
    width: 80%;

    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &__title {
    font-size: 30px;
    color: rgb(193, 86, 72);
    letter-spacing: 0.3px;
    text-transform: uppercase;

    line-height: 1.2;
    text-align: center;
    font-weight: 700;

    padding-top: 12px;
  }
  &__order {
    width: 570px;
    height: 440px;

    background-color: rgb(235, 226, 225);
    opacity: 0.851;
    box-shadow: 0px 9px 30.08px 1.92px rgba(0, 0, 0, 0.4);

    position: relative;
    top: 212px;
    margin: auto auto auto 22.6%;

    input {
      margin: auto;
      width: 73.5%;

      font-size: 30px;
      color: rgb(77, 77, 77);
      font-style: italic;
      line-height: 1.35;
      text-transform: lowercase;
      font-weight: 100;
      text-align: center;

      background: none;
      border: none;
      border-bottom: 1px solid rgb(193, 86, 72);

      padding-top: 8px;
      padding-bottom: 12px;
    }

  }
}

@media (max-width: 991px) {
  .section__form {
    height: 800px;
    background-position: 50% 95%;
    &__container {
      width: 70%;
      padding-top: 20px;
    }
    &__order {
      margin: auto;
      height: auto;
      .button-submit {
        margin-bottom: 40px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 890px) {
  .section__form {
    &__container {
      width: 90%;
    }
    &__order {
      .button-submit {
        width: 100%;
        max-width: 300px;
      }
    }
  }

}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__form {
    background-size: 310%;
    background-position: 35% 58%;

    height: 400px;
    z-index: 1;
    &__container {

    }
    &__title {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
  .section__form__order {
    top: 0px;
    margin-top: 20px;
    .button-submit {
      max-width: 300px;
      height: 50px;
      background-position: 50% 60%;
      &-bottom {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    input {
      margin: auto;
      width: 73.5%;

      font-size: 24px;
      color: rgb(77, 77, 77);
      font-style: italic;
      line-height: 1.35;
      text-transform: lowercase;
      font-weight: 100;

      background: none;
      border: none;
      border-bottom: 1px solid rgb(193, 86, 72);
      text-align: center;

      padding-top: 8px;
      padding-bottom: 12px;
    }
  }
}

@media (max-width: 380px) {
  .section__form {
    &__title {
      font-size: 20px !important;
      margin-bottom: 15px;
    }
  }
}