.section__propose {
  background: url("/img/section-background.png") no-repeat 50% 57.55%;
  &__container {
    max-width: 1140px;
    margin: auto;
    text-align: center;
  }
  &__title {
    .h1 {
      font-size: 44px;
      color: rgb(193, 86, 72);
      font-weight: 300;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      position: relative;
      bottom: 20px;
    }
    .h2 {
      font-size: 34px;
      color: #666666;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      padding-top: 44.1px;
    }
    .h3 {
      font-size: 30px;
      color: rgb(193, 86, 72);
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;

      padding-top: 72px;
      padding-left: 8%;
      &-cosmetics {
        padding-top: 78px;
        padding-left: 5.8%;
      }
      &-repair {
        padding-top: 245px;
      }
    }
    .h4 {
      font-size: 28px;
      letter-spacing: 1.4px;

      padding-top: 78px;
      padding-right: 9%;
      &-repair {
        padding-top: 42px;
        padding-left: 3.5%;
      }
    }
    .h5 {
      font-size: 30px;
      color: rgb(193, 86, 72);
      font-weight: 700;
      font-style: italic;
      text-align: left;
      line-height: 1.22;
      letter-spacing: 2.3px;

      padding-left: 5%;
      padding-top: 118px;
      flex-direction: row;
      &-cosmetics {
        font-weight: 700;
        letter-spacing: 1.4px;

        padding-left: 0px;
        margin-left: -36.2%;
        padding-top: 138px;
      }
      &-repair {
        padding-top: 126px;
        line-height: 1.2;
      }
    }
    .h6 {
      text-align: left;
      padding-left: 19%;
      padding-top: 73px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__text {
    font-size: 31px;
    color: rgb(137, 110, 111);
    font-weight: 300;
    letter-spacing: -0.59px;

    padding-top: 33px;
    line-height: 1.15;
    text-align: center;

    max-width: 984px;
    margin: auto;
    &-bottom {
      font-size: 22px;
      color: rgb(137, 110, 111);
      font-style: italic;
      text-align: left;
      letter-spacing: 0.2px;

      padding-left: 16%;
      position: relative;
      bottom: 82px;
      display: flex;
      align-items: center;
      &-cosmetics {
        bottom: 38px;
        display: inline-flex;
        padding-left: 0px;

        margin-left: 80%;
      }
      &-repair {
        bottom: 84px;
      }
      &-img {
        padding-left: 6px;

      }
    }
  }
  &__photo {
    background: url("/img/home.png");
    background-size: cover;

    width: 310px;
    height: 335px;
    position: relative;
    top: 20px;
    left: 1.1%;
    &-cosmetics {
      background: url("/img/cosmetics.png") no-repeat;
      margin-top: -136px;
      margin-right: 3.5%;
    }
    &-repair {
      top: -70px;
    }
  }
  &__about {
    width: 660px;
    padding-top: 18px;
    margin-left: -2.8%;

    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
    &-repair {
      padding-top: 17px;
    }
    &-span {
      position: relative;
      top: 6.8px;
    }
  }
  &__items {
    padding-top: 20px;
    padding-left: 19.3%;
    text-align: left;
  }
  &__item {
    font-size: 26px;
    color: #996666;
    letter-spacing: 0.3px;

    padding-top: 15.5px;
    padding-left: 7.5%;
  }
  &__item::before {
    width: 34px;
    content: "";
    background-image: url("/img/check.svg");
    background-size: cover;
    position: absolute;

    margin-top: 1px;
    margin-left: -3.55%;
    height: 34px;
  }
  &__price {
    background: url("/img/2500.svg");
    background-size: cover;

    width: 260px;
    height: 285px;
    margin-left: -23.6%;
    margin-top: 21px;
    &-cosmetics {
      background: url("/img/12000.png");
      background-size: cover;

      margin-top: 4px;
      margin-left: -9.7%;
      width: 345px;
      height: 305px;
    }
    &-repair {
      margin-top: 28px;
    }
  }
  //Cosmetics works
  &__cosmetics {
    text-align: left;
    padding-left: 5.75%;
    margin-top: 104px;
    &__text {
      font-size: 24px;
      line-height: 1.38;
      letter-spacing: 0.22px;
      text-align: left;

      width: 58%;
      padding-top: 18px;
      padding-left: 2.8%;
    }
  }
}

@media (max-width: 1050px) {
  .section__propose {
    background-position: 50% 61%;
    background-size: 168%;
    &__title {
      .h3 {
        padding-top: 50px;
        &-cosmetics {
          text-align: center;
        }
      }
    }

    &__photo {
      left: 0px;
      width: 290px; //310
      height: 315px; //335
      background-size: cover;
      &-cosmetics {
        margin-right: 0%;
      }
    }
    &__price {
      margin-left: -18%;
      margin-bottom: 00px;
      width: 240px; //260
      height: 265px; //285
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 991px) {
  .section__propose {
    background-position: 50% 62.2%;
    background-size: 290%;

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    &__title {
      margin: auto;
      text-align: center;
      .h1 {
        font-size: 28px;
      }
      .h2 {
        font-size: 26px;
      }
      .h3 {
        font-size: 26px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px;
      }
      .h5 {
        font-size: 26px;
      }
      .h5-cosmetics {
        margin-left: 5%;
        padding-top: 40px;
      }
      .h6 {
        padding-left: 5.5%;
      }
    }
    &__row {
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
    &__photo, &__about {
      margin: auto;
    }
    &__photo {
      top: 0px;
      margin-top: 40px;
    }
    &__about {
      margin-top: 25px;
      width: 90%;
    }
    &__price {
      margin: auto;
      margin-bottom: 0px;
    }
    &__text {
      font-size: 24px;
      &-bottom {
        bottom: 0px;
        padding-left: 5%;
        &-cosmetics {
          margin-left: -0%;
          padding-left: 50%;
        }
        &-repair{
          padding-left: 5%;
        }
      }

    }
    &__items {
      padding-left: 5%;
    }
    &-item {
      font-size: 22px;
    }
    &__item::before{
      margin-left: -8%;
      width: 38px;
      height: 38px;
      margin-top: 10px;
    }
    &__cosmetics {
      &__text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
      }
    }

  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section__propose {
   background-image: none;

    &__title {
      .h1 {
        font-size: 24px;
        letter-spacing: 0.2px;
        bottom: 0px;
      }
      .h2 {
        font-size: 18px;
        letter-spacing: 0.4px;
        padding-top: 30px;
      }
      .h3 {
        font-size: 20px;
        letter-spacing: 0.4px;
        padding-top: 30px;
        margin-bottom: 20px;
        &-repair{
          padding-top: 70px;
        }
        &-cosmetics{
          margin-top: 0px;
          padding-top: 70px;
        }
      }
      .h5 {
        padding-left: 0px;
        padding-right: 3%;
        padding-top: 30px;
        padding-bottom: 10px;

        font-size: 21px;
        letter-spacing: 0.4px;
      }
      .h5-cosmetics {
        padding-top: 0px;
        margin: auto;
        br {
          display: none;
        }
      }
      .h6{
        text-align: center;
      }
    }
    &__about {
      font-size: 20px;
      letter-spacing: -0.2px;

      margin-top: 20px;
      width: 96%;
    }
    &__items {
      padding-top: 0px;
      padding-left: 0.5%;
      padding-right: 0px;
    }
    &__item {
      display: flex;
      font-size: 20px;
      letter-spacing: 0px;
      padding-left: 10%;
    }
    &__item::before{
      margin-left: -10%;
      height: 30px;
      width: 30px;
      margin-top: 0px;
    }
    &__text {
      font-size: 20px;
      letter-spacing: -0.2px;
      padding-top: 10px;
      &-bottom {
        font-size: 18px;
        &-cosmetics{
          padding-top: 20px;
          padding-left: 0px;
        }
       &-repair{
         padding-left: 0px;
       }
      }
    }
    &__price {
      width: 150px; //260
      height: 160px; //285
      margin-bottom: 8px;

    }
    &__photo {
      width: 186px; //310
      height: 201px; //335
      background-size: cover;
      margin-top: 10px;
    }
    &__cosmetics {
      &__text {
        padding-top: 0px;
        padding-bottom: 20px;

        font-size: 22px;
        letter-spacing: -0.59px;
      }
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  background-position: 0% 0%;
  background-size: 620%;
}