.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;

  background-image: url("../img/main_bg_white_08.jpg");
  background-position: right center;
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 1;

  background-size: cover;

  &--second {
    //background: url(../img/bg.jpg) center center no-repeat;
    ///*background: #000;*/
  }
}

section {
  width: 100%;
  max-width: 1480px;

  padding: rem(30);
  padding-bottom: 0;
  margin: auto;
  margin-top: rem(120);




  display: flex;
  position: relative;

  .left_part {
    max-width: 750px;
    min-width: 600px;
    position: relative;
  }

  .left_part:before {
    content: "";
    position: absolute;
    top: -60px;
    left: -95px;
    width: rem(75);
    height: rem(75);
    background: url(../img/logo_inner.png) center center no-repeat;
  }

}



input:focus {
  outline-style: none;
  outline-width: 0 !important;
  outline-color: none !important;
}

a {
  color: black;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;

}

.no-pdd {
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #333
}


.mobile .sandwich {
  height: rem(25);
}

.first_text {
  font-family: $font-BerlingskeSlab-lt;
  font-size: rem(36);
  line-height: 47px;
  color: #fff;
}

.first_text span {
  color: #baa474;
}

.abs_text {
  position: absolute;
  top: 0;
  right: rem(20);
  width: rem(50);
  font-size: rem(9);
  color: #f8e7be;
  line-height: rem(14);
}

.second_text {
  position: relative;
  text-transform: uppercase;
  color: #FFF;
  padding-right: 85px;
  font-size: rem(16);
  line-height: rem(28);
  width: 250px;
}

.second_text span {
  color: #cdb781;
}

.second_text:before {
  content: "";
  position: absolute;
  background: url(../img/logo_innerSm.png) center no-repeat;
  width: rem(17);
  height: rem(17);
  left: -34px;
  top: 0;
}

.second_text:after {
  content: "";
  position: absolute;
  top: 85px;
  width: rem(66);
  height: rem(66);
  left: 155px;
  background: url(../img/rope.png) center no-repeat;
}

.slider_wrap {
  margin-top: rem(75);




  overflow: hidden;
  padding-top: rem(10);
  display: flex;
}

.slider_wrap .right {
  position: relative;
  top: rem(-20);
  max-width: 440px;
  width: 100%;
}

.slider_wrap .slider_item {
  background: url(../img/bag.png) center no-repeat;
  width: 440px;
  height: rem(210);
  overflow: hidden;




  display: flex;
  align-items: center;
}

.slider_wrap .slider_item .n {
  color: #4A4F54;
  font-size: rem(70);
  font-weight: bold;
  width: 108px;
  padding-left: rem(30);

}

.slider_wrap .slider_item .text {
  color: white;
  font-weight: bold;
  font-size: rem(22);
  text-transform: uppercase;
  padding-left: rem(30);
  padding-right: rem(10);
}

.button_block {
  margin-top: rem(65);
  width: 100%;
}

.button_inner {
  max-width: 660px;
  width: 100%;
  height: 97px;
  position: relative;
  font-size: rem(16);
  font-family: $font-secondary-family;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: rem(23);
  box-shadow: 0 rem(5) rem(10) rem(-5) #000;
  padding-left: 160px;
  padding-right: rem(20);
  letter-spacing: rem(3);
  background: url(../img/button_bg1.jpg) center repeat-x;

  display: flex;

  align-items: center;
  border-radius: rem(10);
  cursor: pointer;

}

.button_inner:before {
  content: "";
  width: 180px;
  position: absolute;
  top: -18px;
  left: -53px;
  height: rem(110);
  background: url(../img/button_icon.png) center no-repeat;
  background-size: contain;
}

.bottom_block {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: rem(666);
  margin-top: rem(50);
  margin-bottom: rem(150);

}

.bottom_block .item {
  margin: 0 rem(30);
}

.bottom_block .item:first-child {
  margin-left: 0
}

.bottom_block .item:last-child {
  margin-right: 0
}

.bottom_block .item.cities {
  position: relative;

}

.bottom_block .item.cities .text {
  cursor: pointer;

}

.bottom_block .item.cities:before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: rem(1);
  border-top: 1px dashed #E1E2E3;
}

.mobile .bottom_block .item.cities:before {
  bottom: -2px;
}

.bottom_block .item .title {
  font-size: rem(10);
  color: #cdb781;
  line-height: rem(14);
  text-transform: uppercase;
  margin-bottom: rem(10);
}

.bottom_block .item .text {
  font-size: rem(16);
  font-family: $font-BerlingskeSlab-tn;
  color: #E1E2E3;
}

.right_part, .left_part {
  outline: 0 solid red
}

.right_part {
  padding-left: rem(72);
  flex-grow: 1;
  margin: 0;
  min-width: rem(668);
}

.right_part .top_text {
  font-size: rem(25);
  color: white;
  line-height: rem(32);
  text-align: center;
  margin-top: rem(30);
}

.persons_wrap {
  margin-top: rem(66);
}

.persons_wrap .person_item {
  display: inline-block;
  vertical-align: top;
  width: 195px;
  height: rem(820);
  padding: rem(35) rem(50);
  padding-right: rem(34);
  position: relative;

}

.persons_wrap .person_item .top a.name {
  font-size: rem(15);
  color: #678fe9;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  position: relative;
  line-height: rem(22);
  display: block;
  margin-bottom: rem(10);
}

.persons_wrap .person_item .top .text {
  font-size: rem(10);
  color: #E1E1E1;

}

.persons_wrap .person_item .top .text b {
  color: white;
}

.persons_wrap .person_item .bottom {
  position: absolute;
  top: 225px;
  width: rem(110);
}

.persons_wrap img {
  max-width: 100%;
}

.persons_wrap .person_item.first {
  background: url(../img/bg_person1.png) left top no-repeat;
  margin-right: rem(1);
}

.persons_wrap .person_item.second {
  background: url(../img/bg_person2.png) left top no-repeat;
  margin-right: rem(1);
}

.persons_wrap .person_item.third {
  background: url(../img/bg_person3.png) left top no-repeat;
  margin-right: 0;
}

.persons_wrap .person_item .bottom .n {
  font-size: rem(45);
  font-weight: bold;
  color: #BBA776;
  margin-top: rem(15);
}

.persons_wrap .person_item .bottom .n span {
  color: #464339
}

.persons_wrap .person_item .bottom .img {
  margin-top: rem(15);
}

.persons_wrap .person_item.third .bottom .img {
  display: inline-block;
}

.persons_wrap .person_item .bottom .img:nth-child(3) {
  margin-right: rem(10);
}

.persons_wrap .person_item .bottom .p {
  font-size: rem(12);
  color: #e1cd9b;
  line-height: rem(14);
}

.persons_photo {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 715px;
  right: -15px;
}

.city_popup_window, .contacts_popup_window, .city_popup_header_window {
  overflow: hidden;
  padding-left: rem(20);
  position: absolute;
  top: 740px;
  left: rem(666);
  width: 0;
  opacity: 0;
  z-index: 3;
  transition: 1s;
}

.city_popup_window.active, .contacts_popup_window.active, .city_popup_header_window.active {
  width: 480px;
  opacity: 1
}

.city_popup_header_window a:before {
  content: none;
}

.contacts_popup_window, .city_popup_header_window {
  top: rem(-30);
  margin-left: rem(15);
  left: 100%;
}

.contacts_popup_window .city_popup {
  padding: rem(25) rem(20);
}

.contacts_popup_window .city_popup:before {
  top: rem(25)
}

.city_popup_header_window .city_popup:before {
  top: rem(30)
}

.city_popup {

  background: white;
  padding: rem(25) 0;
  text-transform: uppercase;

  width: rem(438);
  border-radius: rem(10);
  display: flex;

  z-index: 2;
}

.city_popup:before {
  position: absolute;
  top: rem(220);
  left: rem(-10);

  content: "";

  border: rem(15) solid transparent;
  border-right-color: white;

}

.city_popup .part {
  padding-left: rem(40);
  font-size: rem(12);
  font-weight: bold;
  color: #414141;
}

.city_popup .part > div {
  margin-bottom: rem(3);
}

.city_popup .part a {
  color: #cdb781;
  text-decoration: underline;

}

.city_popup .part hr {
  border: none;
  border-top: rem(1) solid #BABABA;
}

.mobile_bottom {
  display: none;
  position: relative;
}

.owl-dots {
  position: absolute;
  top: 0;
  bottom: 0;
  left: rem(-20);

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: auto;

}

.mobile .owl-dots {
  left: 0;
  top: rem(-20);

  flex-direction: row;

  bottom: auto;
  right: 0;
}

.owl-dot {
  width: rem(12) !important;
  height: rem(12) !important;

  margin: rem(6) 0;

  border: rem(3) solid rgba(255, 255, 255, .11) !important;
  border-radius: rem(20);
  background: transparent;
  transition: .3s;
}

.mobile .owl-dot {
  margin: 0 rem(6);
}

.owl-dot.active {
  width: rem(12) !important;
  height: rem(12) !important;
  border: 3px solid rgba(255, 255, 255, 1) !important;
  transform: scale(0.89);

}

.menu a {
  font-size: rem(16);
  font-weight: bold;
  color: #414141;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: rem(25);
  display: block;
  line-height: rem(18);
}

.menu_wrap {
  background: #fff;
  box-shadow: inset 0 rem(16) rem(35) rem(-20) #ccc;
  padding: 0;
  height: 0;
  width: 100%;
  transition: .7s;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: rem(58);
  z-index: 2;

}

.menu_wrap.active {
  padding: rem(33) 0 rem(20);
  height: 1000px;
  max-height: 104%;
}

.menu_wrap hr {
  border-top: 1px solid #989898;
  margin-bottom: rem(25);
}

.menu {
  padding: 0 rem(20);
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.menu_wrap .header_part_4 {
  min-width: auto;
}

.menu_wrap .header_part_4 a {
  color: #414141;
}

.menu_wrap .header_part_4 .phone_container .phone_block a span {
  color: #9d9999;
}

.menu_wrap .button {
  display: table;
  margin: auto;
  font-size: rem(10);
  letter-spacing: 2.5px;
  margin-top: rem(25);
}

.menu_wrap .header_part_4 .phone_block div {
  color: #cdb781;

}

.mobile .choose_city {
  position: absolute;
  top: rem(25);
  left: rem(30);
  font-size: rem(20);
  text-transform: none;

}

.mobile .mobile_cities hr {
  display: none;
}

.mobile .mobile_cities .hr {
  position: relative;
  width: 110%;
  height: rem(20);
  margin-top: rem(35);
  margin-bottom: rem(5);
}

.mobile .mobile_cities .hr:before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(-30);
  width: 105%;
  background: url(../img/cities_hr.png) center no-repeat;
  -webkit-background-size: 330px;
  background-size: 330px;
  height: rem(20);
}

.mobile .mobile_cities {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  max-width: 360px;
  margin: auto;
  padding-top: 95px;
  background: white;
}

.mobile .mobile_cities .city_popup {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  padding-bottom: rem(110);
  overflow-x: hidden;
  overflow-y: scroll;
  height: rem(420);
}

.mobile .mobile_cities .city_popup:before {
  display: none;

}

.mobile .mobile_cities .city_popup:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 0;
  box-shadow: inset 0 rem(-170) rem(80) rem(-72) white;
}

.mobile .mobile_cities .city_popup .part {
  padding: 0 rem(20);
  text-align: center;
  font-size: rem(16);
}

.mobile .mobile_cities .item.cities {
  padding: 0 rem(25);
}

.mobile .mobile_cities .city_popup .part a {
  text-decoration: none;

}

.mobile .mobile_cities .city_popup .part a:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: rem(3);
  height: rem(1);
  background: #E5D6BE;
}

.mobile .mobile_cities .item.cities > div {
  display: inline-block;
  vertical-align: top;

}

.mobile .mobile_cities .item.cities .title {
  color: #cdb781;
  text-transform: uppercase;
  font-size: rem(10);
  padding-right: rem(23);
  line-height: rem(14);
}

.mobile .mobile_cities .item.cities .text {
  font-family: $font-BerlingskeSlab-lt;
  font-size: rem(14);
  line-height: rem(18);
}

.mobile .mobile_cities .sandwich {
  position: absolute;
  top: rem(28);
  right: rem(25);
}

//----------

.header_part_4 .phone_container .phone_block a span {
  color: #ffffff;
}

.main .right_part .top_text {
  max-width: rem(420);
  margin: 0 auto;
}

.main .right_part .persons_wrap .person_img {
  display: none;
}

.menu_wrap .acc_cont_cities {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.menu_wrap .acc_cont_cities .city_popup {
  padding: 0;
  width: auto;

  justify-content: space-between;
}

.menu_wrap .acc_cont_cities .city_popup:before {
  display: none;
}

.menu_wrap .acc_cont_cities .city_popup .part {
  padding-left: 0;
}

.menu_wrap .acc_cont_cities.active {
  max-height: auto !important;
}

.menu_wrap .acc_cont_contacts {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.menu_wrap .acc_cont_contacts .city_popup {
  padding: 0;
  width: auto;
  font-size: rem(12);
}

.menu_wrap .acc_cont_contacts .city_popup:before {
  display: none;
}

.menu_wrap .acc_cont_contacts.active {
  max-height: auto !important;
}

#popup_feedback .input .checkbox_label {

  display: flex;
}

#popup_feedback .input .checkbox_label .checkbox {
  width: auto;
  margin-top: rem(3);
}

#popup_feedback .input .checkbox_label .check_descr {
  font-size: rem(12);
}

@media (min-width: 1px) and (max-width: 779px) {
  .mobile_none {
    display: none;
  }

  .header {
    height: auto;
    padding-bottom: 0;

    display: flex;

    flex-direction: column;

    align-items: center;
  }

  .header_part_1 {
    width: 100%;
    padding-right: 0;
    margin-bottom: rem(10);
  }

  .header_part_2 {
    width: auto;
    margin-bottom: rem(10);
    text-align: center;
  }

  .header_part_3 {
    display: none;
    min-width: auto;

    flex-direction: column;
    margin-bottom: rem(10);
  }

  .header_part_3 .item {
    margin-bottom: rem(10);
  }

  .header_part_3 .item .contacts_popup_window {
    overflow: inherit;

    transform: translate(0px, rem(80));
    width: auto;
    left: -70px;
    z-index: -1;
  }

  .header_part_3 .item .contacts_popup_window.active {
    z-index: 1;
    width: auto;
    left: -70px;
    margin-left: 0;
    margin-right: -70px;
  }

  .header_part_3 .item .contacts_popup_window .city_popup {
    width: auto;
  }

  .header_part_3 .item .contacts_popup_window .city_popup p {
    margin-bottom: 0;
  }

  .header_part_3 .item .contacts_popup_window .city_popup:before {
    top: rem(-30);
    left: rem(80);
    right: auto;

    transform: rotate(90deg);
  }

  .header_part_3 .item .city_popup_header_window {
    left: -60px;
    top: rem(40);
    overflow: inherit;
    width: auto;
    z-index: -1;
  }

  .header_part_3 .item .city_popup_header_window .city_popup {
    padding-right: 0;
    width: 100%;
  }

  .header_part_3 .item .city_popup_header_window .city_popup:before {
    top: rem(-30);
    left: rem(50);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .header_part_3 .item .city_popup_header_window .city_popup .part {
    padding-left: rem(15);
  }

  .header_part_3 .item .city_popup_header_window.active {
    z-index: 1;
    width: auto;
  }

  .header_part_3 .item .city_popup_header_window.active .city_popup {
    padding-right: rem(15);
    width: auto;
  }

  .header_part_3 .item .city_popup_header_window.active .city_popup:before {
    top: rem(-30);
    left: rem(50);;
    transform: rotate(90deg);
  }

  .header_part_3 .item .city_popup_header_window.active .city_popup .part {
    padding-left: rem(15);
  }

  .header_part_4 {

    flex-direction: column;
    min-width: auto;
    height: 0;
  }

  .header_part_4 .phone_container {
    margin-bottom: 0;
  }

  .header_part_4 .phone_container .mobile_hide {
    display: none;
  }

  .header_part_4 .phone_container .phone_block a {
    white-space: nowrap;
  }

  .header_part_4 .phone_container .phone_icon {
    position: absolute;
    top: rem(35);
    right: rem(50);
  }

  .header_part_4 .button {
    display: none;
  }

  .header_part_5 {
    position: fixed;
    right: rem(15);
    z-index: 3;
  }

  .menu_wrap {
    top: 0;
    max-height: 0;
    height: auto;
    position: fixed;
  }

  .menu_wrap.active {
    height: 100%;
    top: 0;
  }

  .menu_wrap .menu a {
    font-size: rem(12);
    line-height: rem(12);
    margin-bottom: rem(16);
  }

  .menu_wrap .header_part_4 {
    height: auto;
  }

  .menu_wrap .header_part_4 .phone_container {
    margin-bottom: 0;
    position: absolute;
    bottom: rem(20);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .menu_wrap .header_part_4 .phone_container .avatar {
    width: 48px;
    height: 49px;

    border-radius: 50%;
  }

  .menu_wrap .acc_cont_cities {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }

  .menu_wrap .acc_cont_cities .city_popup {
    padding: 0;
    width: auto;

    justify-content: space-between;
  }

  .menu_wrap .acc_cont_cities .city_popup:before {
    display: none;
  }

  .menu_wrap .acc_cont_cities .city_popup .part {
    padding-left: 0;
  }

  .menu_wrap .acc_cont_cities.active {
    max-height: auto !important;
  }

  .menu_wrap .acc_cont_contacts {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }

  .menu_wrap .acc_cont_contacts .city_popup {
    padding: 0;
    width: auto;
    font-size: rem(12);
  }

  .menu_wrap .acc_cont_contacts .city_popup:before {
    display: none;
  }

  .menu_wrap .acc_cont_contacts.active {
    max-height: auto !important;
  }

  .main {

    display: flex;

    flex-direction: column;
    margin-top: 0;
  }

  .main .left_part {
    min-width: 100%;
  }

  .main .left_part:before {
    display: none;
  }

  .main .left_part .abs_text {
    right: auto;
    left: 240px;
    top: -22px;
  }

  .main .left_part .h1 {
    font-size: rem(21);
    line-height: rem(36);
  }

  .main .left_part .h1:after {
    top: rem(35);
    width: 255px;
  }

  .main .left_part .first_text {
    font-size: rem(22);
    line-height: rem(30);
  }

  .main .left_part .slider_n_button .slider_wrap {

    justify-content: center;

    flex-direction: column;
  }

  .main .left_part .slider_n_button .slider_wrap .second_text {
    font-size: rem(14);
    line-height: rem(20);
    padding-right: 0;
    margin-bottom: rem(50);
  }

  .main .left_part .slider_n_button .slider_wrap .second_text:after {
    left: rem(50);

    transform: rotate(90deg);
  }

  .main .left_part .slider_n_button .slider_wrap .right.owl-carousel .owl-item .slider_item {
    width: auto;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .main .left_part .slider_n_button .slider_wrap .right.owl-carousel .owl-item .slider_item .n {
    font-size: rem(50);
    padding-left: rem(20);
  }

  .main .left_part .slider_n_button .slider_wrap .right.owl-carousel .owl-item .slider_item .text {
    font-size: rem(12);
    padding-left: rem(20);
  }

  .main .left_part .slider_n_button .slider_wrap .right.owl-carousel .owl-dots {
    top: auto;
    bottom: -5%;
    left: 50%;

    transform: translate(-50%, rem(25)) rotate(-90deg);
  }

  .main .left_part .slider_n_button .button_block {
    margin-top: rem(30);
  }

  .main .left_part .slider_n_button .button_block .button_inner {
    margin: 0 auto;
    padding: rem(10) rem(20);
    font-size: rem(10);
    line-height: rem(14);
  }

  .main .left_part .slider_n_button .button_block .button_inner:before {
    display: none;
  }

  .main .left_part .bottom_block {
    max-width: 100%;
    -webkit-box-orient: horizontal;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: rem(80);
  }

  .main .left_part .bottom_block .item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: rem(30);
    max-width: 50%;
  }

  .main .left_part .bottom_block .item .title {
    font-size: rem(10);
    line-height: rem(16);
  }

  .main .left_part .bottom_block .item .text {
    font-size: rem(11);
    line-height: rem(16);
  }

  .main .left_part .bottom_block .item.cities:before {
    width: 100%;
  }

  .main .left_part .city_popup_window {
    top: auto;
    transform: translate(rem(-30), rem(-80));
    width: auto;
    left: auto;
    right: auto;
    overflow: hidden;
    z-index: -1;
  }

  .main .left_part .city_popup_window .city_popup {
    width: auto;
    padding-right: rem(15);
  }

  .main .left_part .city_popup_window .city_popup:before {
    left: auto;
    left-right: rem(50);
    top: rem(96);
    
    transform: rotate(90deg);
  }

  .main .left_part .city_popup_window .city_popup .part {
    padding-left: rem(15);
  }

  .main .left_part .city_popup_window.active {
    z-index: 2;
    width: auto;
    left: auto;
    right: auto;
    overflow: inherit;
  }

  .main .left_part .city_popup_window.active .city_popup {
    width: auto;
    padding-right: rem(40);
  }

  .main .left_part .city_popup_window.active .city_popup:before {
    left: auto;
    right: rem(50);
    top: rem(-30);
    transform: rotate(90deg);
  }

  .main .right_part {
    padding-left: 0;
    min-width: 100%;
  }

  .main .right_part .persons_photo {
    display: none;
  }

  .main .right_part .top_text {
    max-width: rem(600) !important;
    font-size: rem(16);
  }

  .main .right_part .persons_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .main .right_part .persons_wrap .owl-dots {
    bottom: rem(-20);
    top: auto;
    left: 50%;
    transform: translate(-50%, 0px) rotate(-90deg);
  }

  .main .right_part .persons_wrap .owl-dots .owl-dot span {
    display: none;
  }

  .main .right_part .persons_wrap .person_item {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: cover;
    max-width: 100%;
    margin-bottom: rem(30);
    height: 600px;
    padding: rem(20) rem(40);
  }

  .main .right_part .persons_wrap .bottom {
    top: 105px;
    width: auto;
    height: 125px;

    align-items: center;
    flex-direction: column;

    padding-left: rem(10);
    padding-right: rem(10);
  }

  .main .right_part .persons_wrap .bottom .img {

    display: flex;
    width: 45%;
  }

  .main .right_part .persons_wrap .bottom .img img {
    width: auto;

    align-self: center;
  }

  .main .right_part .persons_wrap .bottom .text {
    width: 45%;
  }

  .main .right_part .persons_wrap .person_img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 260px;
  }

  .main .right_part .persons_wrap .person_item.first .bottom {

    display: flex;
    flex-wrap: wrap;
  }

  .main .right_part .persons_wrap .person_item.first .bottom .img.top_img {
    width: 45%;
    margin-right: rem(10);
  }

  .main .right_part .persons_wrap .person_item.first .bottom .img {
    width: 30%;
    margin-right: rem(5);
    margin-top: 0;
    text-align: center;
  }

  .main .right_part .persons_wrap .person_item.first .bottom .img img {
    margin: rem(5) auto;
  }

  .main .right_part .persons_wrap .person_item.first .bottom .text {
    width: 50%;
  }

  .main .right_part .persons_wrap .person_item.first .bottom .text .n {
    margin-top: 0;
    font-size: rem(20);
  }

  .main .right_part .persons_wrap .person_item.first .bottom .text .p {
    font-size: rem(10);
  }

  .main .right_part .persons_wrap .person_item.second .bottom {

    display: flex;

    flex-wrap: wrap;
    top: 115px;
  }

  .main .right_part .persons_wrap .person_item.second .bottom .img.top_img {
    width: 45%;
    margin-right: rem(10);
    margin-top: rem(15);
  }

  .main .right_part .persons_wrap .person_item.second .bottom .img {
    width: 30%;
    margin-right: rem(5);
    text-align: center;
  }

  .main .right_part .persons_wrap .person_item.second .bottom .img img {
    margin: 0 auto;
  }

  .main .right_part .persons_wrap .person_item.second .bottom .text {
    width: 50%;
    margin-top: 0;
  }

  .main .right_part .persons_wrap .person_item.second .bottom .text .n {
    margin-top: 0;
    font-size: rem(20);
  }

  .main .right_part .persons_wrap .person_item.second .bottom .text .p {
    font-size: rem(9);
  }

  .main .right_part .persons_wrap .person_item.third .bottom {

    display: flex;

    flex-wrap: wrap;
    top: 115px;
    padding-left: rem(20);
  }

  .main .right_part .persons_wrap .person_item.third .bottom .img_pad {
    width: 100%;
    max-width: rem(100);

    display: flex;

    flex-direction: column;
    margin-top: 0;
  }

  .main .right_part .persons_wrap .person_item.third .bottom .img.top_img {
    width: 45%;
    margin-right: rem(10);
    margin-top: 0;
  }

  .main .right_part .persons_wrap .person_item.third .bottom .img {
    width: 31%;
    margin-right: rem(1);
    margin-top: 0;
    margin-bottom: rem(5);
    text-align: center;
  }

  .main .right_part .persons_wrap .person_item.third .bottom .img img {
    margin: 0 auto;
  }

  .main .right_part .persons_wrap .person_item.third .bottom .text {
    width: 50%;
  }

  .main .right_part .persons_wrap .person_item.third .bottom .text .n {
    margin-top: 0;
    font-size: rem(20);
  }

  .main .right_part .persons_wrap .person_item.third .bottom .text .p {
    font-size: rem(10);
  }

  #popup_feedback {
    padding-left: 0;
    padding-right: 0;
  }

  #popup_feedback .form .big_book {
    display: none;
  }

  #popup_feedback .form .title {
    padding: 0;
    font-size: rem(24);
    line-height: rem(28);
  }

  #popup_feedback .form .title span {
    font-size: rem(30);
    line-height: rem(40);
  }

  #popup_feedback .form form {
    padding-left: 0;
    text-align: center;
  }

  #popup_feedback .form form .button {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  .header {
    min-height: 170px;
    height: auto;

    flex-wrap: wrap;
  }

  .header_part_1 {
    width: 50%;

    display: flex;

    justify-content: center;
  }

  .header_part_2 {
    width: 50%;

    display: flex;

    justify-content: center;
  }

  .header_part_3 {

    justify-content: center;
    margin-top: rem(20);
    margin-bottom: rem(20);
  }

  .header_part_3 .item .contacts_popup_window {

    transform: translate(-400px, rem(90));
  }

  .header_part_3 .item .contacts_popup_window .city_popup p {
    margin-bottom: 0;
  }

  .header_part_3 .item .contacts_popup_window .city_popup:before {
    display: none;
    top: rem(-20);
    left: auto;
    right: rem(90);
    -webkit-transform: translate(-90deg);
    -ms-transform: translate(-90deg);
    -o-transform: translate(-90deg);
    transform: translate(-90deg);
  }

  .header_part_3 .item .city_popup_header_window.active {
    width: auto;
  }

  .header_part_3 .item .city_popup_header_window.active .city_popup {
    padding-right: rem(40);
    width: auto;
  }

  .main {
    display: flex;
    flex-direction: column;

    .left_part {
      min-width: 100%;

      &:before {
        display: none;
      }

      .h1:after {
        width: 685px;
      }

    }

    .abs_text {
      right: auto;
      left: rem(700);
    }
  }

  .main .left_part
  .main .left_part .slider_n_button .slider_wrap {

    justify-content: center;
  }

  .main .left_part .slider_n_button .button_block .button_inner {
    margin: 0 auto;
  }

  .main .left_part .bottom_block {
    max-width: 100%;
  }

  .main .left_part .bottom_block .item .text {
    font-size: rem(14);
  }

  .main .left_part .city_popup_window {
    top: auto;
    transform: translateY(-270px);
    width: auto;
    left: auto;
    right: rem(220);
    overflow: hidden;
    z-index: -1;
  }

  .main .left_part .city_popup_window .city_popup {
    width: auto;
    padding-right: rem(40);
  }

  .main .left_part .city_popup_window .city_popup:before {
    left: auto;
    right: rem(-30);
    top: 96px;
    transform: rotate(180deg);
  }

  .main .left_part .city_popup_window.active {
    z-index: 1;
    width: auto;
    left: auto;
    right: rem(220);
    overflow: inherit;
  }

  .main .left_part .city_popup_window.active .city_popup {
    width: auto;
    padding-right: rem(40);
  }

  .main .left_part .city_popup_window.active .city_popup:before {
    left: auto;
    right: rem(-30);
    top: 96px;
    transform: rotate(180deg);
  }

  .main .right_part {
    padding-left: 0;
    min-width: 100%;
  }

  .main .right_part .persons_photo {
    display: none;
  }

  .main .right_part .top_text {
    max-width: 600px !important;
  }

  .main .right_part .persons_wrap {

    display: flex;

    justify-content: space-between;
  }

  .main .right_part .persons_wrap .person_item {
    width: auto;

    display: flex;

    flex-direction: column;

    align-items: center;

    background-size: cover;
    max-width: 30%;
  }

  .main .right_part .persons_wrap .person_img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 993px) and (max-width: 1505px) {
  .header {
    min-height: 170px;

    flex-wrap: wrap;
  }

  .header_part_2 {

    display: flex;

    justify-content: center;
  }

  .header_part_3 .item .city_popup_header_window.active {
    width: auto;
  }

  .header_part_3 .item .city_popup_header_window.active .city_popup {
    padding-right: rem(40);
    width: auto;
  }

  .menu_wrap {
    top: 0;
    max-height: 0;
    height: auto;
  }

  .menu_wrap.active {
    height: auto;
    top: 0;
  }

  .main {

    display: flex;

    flex-direction: column;
  }

  .main .left_part {
    min-width: 100%;
  }

  .main .left_part:before {
    display: none;
  }

  .main .left_part .abs_text {
    right: auto;
    left: rem(700);
  }

  .main .left_part .h1:after {
    width: 685px;
  }

  .main .left_part .slider_n_button .slider_wrap {

    justify-content: center;
  }

  .main .left_part .slider_n_button .button_block .button_inner {
    margin: 0 auto;
  }

  .main .left_part .bottom_block {
    max-width: 100%;
  }

  .main .left_part .city_popup_window {
    top: auto;
    transform: translateY(-270px);
    width: auto;
    left: auto;
    right: rem(220);
    overflow: hidden;
    z-index: -1;
  }

  .main .left_part .city_popup_window .city_popup {
    width: auto;
    padding-right: rem(40);
  }

  .main .left_part .city_popup_window .city_popup:before {
    left: auto;
    right: rem(-30);
    top: 96px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .main .left_part .city_popup_window.active {
    z-index: 1;
    width: auto;
    left: auto;
    right: rem(220);
    overflow: inherit;
  }

  .main .left_part .city_popup_window.active .city_popup {
    width: auto;
    padding-right: rem(40);
  }

  .main .left_part .city_popup_window.active .city_popup:before {
    left: auto;
    right: rem(-30);
    top: 96px;

    transform: rotate(180deg);
  }

  .main .right_part {
    padding-left: 0;
    min-width: 100%;
  }

  .main .right_part .persons_photo {
    display: none;
  }

  .main .right_part .top_text {
    max-width: 600px !important;
  }

  .main .right_part .persons_wrap {

    display: flex;

    justify-content: space-between;
  }

  .main .right_part .persons_wrap .person_item {
    width: auto;

    display: flex;

    flex-direction: column;

    align-items: center;

    background-size: cover;
    max-width: 30%;
  }

  .main .right_part .persons_wrap .bottom {
    top: rem(110);
  }

  .main .right_part .persons_wrap .person_img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 780px) and (max-width: 8000px) {
  .header_part_5 {
    display: none;
  }

  .menu_wrap {
    width: 350px;
    left: auto;
    right: 0;
  }

  .menu_wrap.active {
    height: auto;
    padding-top: rem(100);
  }

  .menu_wrap .menu {
    margin-right: rem(30);
  }

  .menu_wrap .header_part_4 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: rem(50);
  }

  .menu_wrap .button {
    margin-right: rem(50);
  }

  .main .right_part .persons_wrap .person_item.third .bottom .img.top_img {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@media (min-width: 780px) and (max-width: 8000px) and (min-width: 1505px) and (max-width: 8000px) {
  .menu_wrap {
    width: 25%;

    justify-content: flex-start;
  }

  .menu_wrap.active {
    padding-top: rem(75);
  }

  .menu_wrap .menu {
    margin-left: rem(20);
    margin-right: auto;
  }

  .menu_wrap .header_part_4 {
    margin-left: rem(20);

    justify-content: flex-start;
  }

  .menu_wrap .button {
    margin-left: rem(20);
    margin-right: auto;
  }

  .main .left_part .abs_text {
    right: 0;
  }

  .main .left_part .h1:after {
    width: 685px;
  }

  .main .right_part .persons_wrap .person_item .bottom .text .p {
    min-height: 56px;
    margin-bottom: rem(20);
  }

  .main .right_part .persons_wrap .person_item.third .img_pad {
    transform: translateY(-63px);
  }
}

@media (min-width: 1200px) and (max-width: 1505px) {
  .header {

    flex-wrap: nowrap;
  }

  .header_part_2 {
    font-size: rem(7);
  }

  .header_part_3 {
    min-width: 315px;
  }

  .header_part_3 .item {
    margin: 0 rem(5) !important;
  }

  .header_part_3 .item a {
    font-size: 8px !important;
  }

  .header_part_4 {
    min-width: 425px;
  }

  .header_part_4 .phone_container .phone_block a {
    font-size: rem(18);
  }

  .header_part_4 .button {
    margin-left: rem(15);
    margin-right: 0;
    padding: rem(10) rem(10);
  }
}

input, button {
  outline: none;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

.overlay {
  display: none;
}

img.mfp-img {
  background-color: #fff !important;
}

.for_small {
  display: none;
}

.margin_0 {
  margin: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.popup.modal {
  display: none;
}

.header .avatar {
  border-radius: 50%;
  width: 48px;
  height: 49px;
}

.menu_wrap {
  top: 0;
}

.main .right_part .name {
  cursor: context-menu;
  text-decoration: none !important;
}

.main .right_part .name:hover {
  display: none;
}

.main .right_part .persons_photo {
  z-index: 2;
}
