//.button {
//  font-size: rem(8);
//  font-family: $font-secondary-family;
//  text-align: center;
//  text-transform: uppercase;
//  padding: rem(10) rem(30);
//  color: white;
//  outline: none !important;
//  box-shadow: 0 rem(5) rem(10) rem(-5) #000;
//  border-radius: rem(5);
//  border-bottom: rem(2) solid #46619D;
//  background-color: #4F90EC;
//  cursor: pointer;
//  transition: .1s;
//
//  &:active {
//    transform: scale(0.995);
//  }
//}
.button-submit {
  border: none;
  background: rgb(193, 86, 72) url("/img/button.png");
  background-size: cover;
  border-radius: 4px;

  width: 100%;
  max-width: 340px;
  height: 64px; //58px
  margin: 47px auto 55px;

  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  line-height: 1.2;
  text-align: center;
  font-weight: 100;
  transition: 0.5s;
  &-bottom {
    width: 60%;
    margin-top: 41px;
    margin-bottom: 56px;
  }
}
.button-submit:hover{
  cursor: pointer;
  transform: scale(1.1) rotate(2deg);
  transition: 0.5s;
  box-shadow: rgba(18, 18, 18, 0.8) 0px 0px 30px;
}