.form {
  background: white;
  padding: 0 rem(20);
  padding-top: 0;
  max-width: 740px;
  position: relative;

  .big_book {
    position: absolute;
    width: 575px;
    top: 140px;
    left: -130px;

    img {
      max-width: 100%;
    }
  }

  form {
    padding-left: 335px;
    padding-top: rem(20);
  }

  .title {
    font-size: rem(33);
    font-family: $font-BerlingskeSlab-lt;
    line-height: 42px;
    color: #000;
    padding: 0 rem(28) rem(20);

    span {
      font-family: $font-primary-family;
      text-transform: uppercase;
      color: #CDB781;
      font-weight: bold;
      display: block;
      margin-bottom: rem(12);
      font-size: rem(41);
    }
  }

  .input {
    input {
      display: block;
      margin: rem(20) auto 0;
      padding: rem(28) rem(20) rem(28) rem(67);
      outline: none !important;
      border: rem(2) solid #C7C7C7;
      border-radius: rem(7);
      width: 260px;
      font-size: rem(12);
      font-family: $font-primary-family;
      font-weight: 500;
      background: #f5f5f5;
      transition: .5s;
      letter-spacing: rem(3);

      &:focus {
        border-color: #4F90EC;
      }

      &.error {
        border-color: red;
      }

      .input_email {
        background: url(img/form_a.png) rem(23) center no-repeat;
      }

      .input_phone {
        background: url(img/form_phone.png) rem(23) center no-repeat;
      }

    }

  }

  .descr {
    text-align: center;
    font-size: rem(11);
    font-weight: 500;
    font-family: $font-primary-family;
    color: #ABABAB;
    padding-top: rem(6);
  }

}
&_form {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.17);
  border-radius: 3px;

  font-size: 14px;
  color: rgb(58, 58, 58);
  line-height: 1.44;
  padding: 25px;
  overflow: hidden;
  max-width: 1130px;

  input[type="text"] {
    background: #ffffff url('/img/input01.svg') no-repeat 5% 50%;
    padding-left: 40px;
    font-size: 14px;
  }

  input[type="search"] {
    background: #ffffff url('/img/input02.svg') no-repeat 5% 50%;
    padding-left: 40px;
    font-size: 14px
  }

  input[type="date"] {
    font-size: 14px;
    color: rgb(53, 53, 53);
    font-weight: bold;
  }

  select {
    font-size: 14px;
    color: rgb(53, 53, 53);
    font-weight: bold;
  }

  input[type="radio"]:checked {

    border: 1px solid rgb(0, 75, 133);
    border-radius: 9px;
    background-color: rgb(0, 75, 133);
    width: 19px;
    height: 18px;
  }
}


.label_hidden {
  opacity: 0;
}

.blue {
  color: #004b85;
  font-weight: bold;

  margin-bottom: 30px;
  position: relative;
}